.ulist {
  & > li {
    border-top: 2px dotted $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0 6px 4px;
    font-size: 0.75rem;

    &:first-of-type {
      border-top: none;
    }

    .tit,
    .tit2 {
      @include textOverflow();
      display: block;
      flex: 0 0 72%;
    }

    .receipt,
    .name {
      flex: 0 0 25%;
      text-align: right;

      strong {
        color: $orange;
        font-size: 0.875rem;
      }
    }

    .noti {
      color: $white;
      display: inline-block;
      height: 18px;
      padding: 0 4px;
      margin-left: 3px;
      border-radius: 10px;
      line-height: 16px;

      &.a {
        background-color: $orange;
      }
      &.d {
        background-color: $violet;
      }
      &.y {
        background-color: $skyBlue;
      }
    }

    .date {
      flex: 0 0 100%;
      margin-top: 3px;
      font-size: 0.68rem;
      order: 3;
    }

    @include mq("deskTop") {
      padding: 8px 0 8px 8px;
      font-size: 1rem;

      .tit {
        flex: 0 0 75%;

        .year {
          margin-right: 30px;
        }
      }

      .tit2 {
        flex-basis: 50%;
        order: 2;
      }

      .receipt {
        flex: 0 0 22%;

        strong {
          font-size: 1.625rem;
        }
      }

      .noti {
        height: 20px;
        line-height: 18px;
        font-size: 0.875rem;
      }

      .date {
        flex-basis: 28%;
        margin-top: 3px;
        font-size: 1rem;
        order: 1;
      }

      .name {
        flex-basis: 20%;
        order: 3;
      }
    }
  }
}

.ad-tbl {
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;

  table {
    width: 100%;

    thead {
      th {
        color: $color-default;
        background-color: $gray3;
        border-bottom: 1px solid $gray;
        font-weight: 700;
        text-align: center;
      }
    }

    tbody {
      th,
      td {
        position: relative;

        &::before {
          @include posiCenter("v");
          background-color: $gray;
          content: "";
          display: block;
          width: 1px;
          height: 50%;
          left: 0;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }
      }

      td {
        background-color: $white;
        border-top: 1px dotted $gray;
      }

      tr:first-of-type {
        td {
          border-top: none;
        }
      }
    }

    th,
    td {
      padding: 5px;
      font-size: 0.75rem;
      word-break: break-all;
    }

    .nm {
      text-align: center;
    }
    .my {
      text-align: right;
    }

    @include mq("deskTop") {
      tbody {
        tr:hover td {
          background-color: rgba($orange, 0.05);
        }

        td {
          border-top-width: 2px;
        }
      }

      th,
      td {
        padding: 5px 8px;
        font-size: 1rem;
      }
    }
  }
}

.mq-colgroup-none,
.mq-mb-none {
  display: none;
}

@include mq("deskTop") {
  .mq-colgroup-none {
    display: table-column-group;
  }
  .mq-mb-none {
    display: table-cell;
  }
}

.page_wrap {
  margin-top: 25px;

  .page_btnwrap {
    @include clearfix();
    width: 100%;
    margin-top: 5px;

    .right {
      position: relative;
      float: right;
      z-index: 3;
    }
  }

  @include mq("deskTop") {
    position: relative;
    margin-top: 32px;

    .page_btnwrap {
      position: absolute;
      top: -8px;
      margin-top: 0;
      z-index: 1;
    }
  }
}
.paging {
  @include marginCenter();
  position: relative;
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  z-index: 2;

  a {
    display: block;
    flex-basis: 27px;
    height: 27px;
    margin: 0 3px;
    line-height: 25px;
    text-align: center;

    span {
      @include blind();
    }
  }

  .arr {
    background-repeat: no-repeat;
    background-size: contain;

    &.first {
      background-image: url("../images/btn/btn_prev2.png");
    }
    &.prev {
      background-image: url("../images/btn/btn_prev1.png");
    }
    &.next {
      background-image: url("../images/btn/btn_next1.png");
    }
    &.last {
      background-image: url("../images/btn/btn_next2.png");
    }
  }

  .num {
    &.current {
      background-color: $color-default;
      color: $white;
      border-radius: 50%;
    }

    @include mq("deskTop") {
      margin: 0 8px;
    }
  }
}
