#loginContents {
  position: relative;
  height: 100vh;
}

.loginwrap {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100vh;
  max-width: 640px;
  max-height: 1154px;
  background: url("../images/common/log_bg.jpg") no-repeat center;
  background-size: cover;
}

.log-inner {
  position: absolute;
  min-height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);

  h1 {
    width: 62.0313vw;
    height: 10vw;
    max-width: 397px;
    max-height: 64px;
    margin: auto;

    span {
      @include ir();
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/common/login_head.png") no-repeat;
      background-size: contain;
    }
  }

  h2 {
    color: $color-primary;
    font-size: 1.5rem;
    text-align: center;

    @include mq("tablet") {
      font-size: 3rem;
    }
  }
}

.log-box {
  width: 82.5vw;
  max-width: 528px;
  margin: 30px auto 0;

  p {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 0.75rem;

    @include mq("tablet") {
      padding-left: 25px;
      font-size: 1.125rem;
    }
  }

  @include mq("tablet") {
    margin-top: 55px;
  }
}

.loginput {
  border: 1px solid $color-primary;
  position: relative;

  input[type="text"],
  input[type="password"] {
    border: none;
    width: 100%;
    padding: 0 20px 0 35px;
    font-size: 1rem;
    line-height: 35px;
    letter-spacing: 1px;

    @include mq("tablet") {
      padding-left: 67px;
      font-size: 1.25rem;
      line-height: 70px;
    }
  }

  &::before {
    @include posiCenter("v");
    content: "";
    display: block;
    width: 16px;
    height: 18px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;

    @include mq("tablet") {
      width: 26px;
      height: 30px;
      left: 20px;
    }
  }

  &.id {
    &::before {
      background-image: url("../images/common/log_id.png");
    }
  }

  &.pw {
    margin-top: 30px;

    &::before {
      background-image: url("../images/common/log_pw.png");
    }
  }
}

.log-btn {
  margin-top: 30px;
  text-align: center;

  button {
    color: $white;
    background-color: $orange;
    display: inline-block;
    width: 39.6875vw;
    height: 11.4063vw;
    max-width: 254px;
    max-height: 73px;
    border-radius: 40px;

    @include mq("tablet") {
      font-size: 1.75rem;
    }
  }
}

.log-customer {
  margin-top: 25px;
  display: flex;
  justify-content: center;

  p {
    font-size: 1rem;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url("../images/common/ico_que.png") no-repeat;
      background-size: contain;
    }

    strong {
      font-weight: 700;
    }
  }

  @include mq("tablet") {
    margin-top: 45px;

    p {
      font-size: 1.25rem;

      &::before {
        width: 20px;
        height: 20px;
      }
    }
  }
}
