.popwrap {
  background-color: $white;
  box-shadow: rgba($black, 0.32) 3px 0 10px;
  position: relative;

  &.widtype1 {
    width: 90%;
    max-width: 545px;
  }

  &.widtype2 {
    width: 90%;
    max-width: 690px;
  }

  .pop-close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 10px;
    right: 10px;

    span {
      @include ir();
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      background: url("../images/btn/close.png") no-repeat;
      background-size: contain;
    }

    @include mq("deskTop") {
      .lvpop_colse {
        width: 50px;
        height: 50px;

        span {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

.pop-contents {
  padding: 50px 25px;

  &.p-center {
    text-align: center;
  }

  .pop-note {
    color: $color-primary;
    margin-bottom: 20px;
    font-weight: 700;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin: 30px auto 15px;
      background-image: url("../images/common/ico_mark.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include mq("deskTop") {
    .pop-note {
      margin-bottom: 40px;
      font-size: 1.25rem;

      &::before {
        width: 54px;
        height: 54px;
      }
    }
  }

  #memoWrt {
    display: block;

    @at-root .wrtopen & {
      display: none;
    }
  }

  .memo-wrt {
    display: none;

    @at-root .wrtopen & {
      display: block;
    }
  }
}
