.apbg1 {
  background-color: #edeff2;
}

.ap_ntxt1 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_ntxt2 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #383f4f;
}

.ap_ntxt3 {
  margin-bottom: 15px;
  font-size: 0.75rem;
  color: #222;
}

.ap_ntxt4 {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_under1 {
  color: #de3030;
  text-decoration: underline;
}

.aplv_tit4 {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;

  .tit_btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 0.875rem;
    padding: 2px 8px;
    color: #383f4f;
    border: 1px solid #d2d3d9;
    border-radius: 2px;
  }
}

.aplv_tit5 {
  margin: 30px 0 22px;
  padding: 10px 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;
  border-top: 1px solid #383f4f;
  border-bottom: 1px solid #383f4f;
}

.aplv_intxt {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  font-weight: 400;
}

.lvfc1 {
  color: #f6864c;
}

.lvfc2 {
  color: #222;
}

.lvfs12,
.lvfsm12 {
  font-size: 0.75rem;
}

@media all and (min-width: 1178px) {
  .ap_ntxt1,
  .ap_ntxt2 {
    font-size: 1.125rem;
  }

  .ap_ntxt3,
  .ap_ntxt4,
  .lvfsm12 {
    font-size: 1rem;
  }

  .aplv_tit4 {
    font-size: 1.5rem;
  }

  .aplv_intxt {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1rem;
  }
}

.ap_ftc1 {
  font-size: 0.875rem;
  color: #f6864c;

  @media all and (min-width: 1178px) {
    font-size: 1rem;
  }
}

.flex_wid1,
.flex_wid2 {
  flex: 0 0 100%;
}

.mdmgt1,
.mdmgt2 {
  margin-top: 5px;
}

@media all and (min-width: 1178px) {
  .flex_wid1 {
    flex-basis: auto;
  }

  .mdmgt1 {
    margin-top: 0;
    margin-left: 15px;
  }

  .mdmgt2 {
    margin-top: 0;
    margin-left: 8px;
  }
}

.appl_box {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #383f4f;
  box-sizing: border-box;

  &.type2 {
    background-color: #f0f2f5;
    border-bottom-color: #dfe1e5;
  }

  &.type3 {
    background-color: #edeff2;
    border: 1px solid #d2d3d9;
  }

  .aplv_txtfield {
    border: none;
  }

  .flwid100 {
    flex-basis: 100%;
  }
}

.appl_box2 {
  position: relative;
}

.appl_dl {
  display: flex;
  flex: 0 0 100%;
  border-bottom: 1px solid #e5e6eb;

  & > dt,
  & > dd {
    min-height: 42px;
    font-size: 0.813rem;
    color: #222;
    box-sizing: border-box;

    @media all and (min-width: 1178px) {
      min-height: 64px;
      font-size: 1rem;
    }
  }

  & > dt {
    flex: 0 0 110px;
    padding: 10px 5px 0 8px;
    color: #222;
    font-weight: 600;

    @media all and (min-width: 1178px) {
      flex-basis: 172px;
      padding: 18px 5px 0 30px;
      font-size: 1rem;
    }
  }

  & > dd {
    display: flex;
    align-items: center;
    align-self: center;
    flex: 0 0 calc(100% - 110px);
    flex-wrap: wrap;
    padding: 5px;

    @media all and (min-width: 1178px) {
      flex-basis: calc(100% - 172px);
      padding: 10px 5px;
    }
  }
  .radio + label {
    margin-left: 4px;
  }

  @media all and (min-width: 1178px) {
    &.mode2 {
      & > dt {
        flex-basis: 108px;
      }

      & > dd {
        flex-basis: calc(100% - 108px);
      }
    }
  }

  @media all and (min-width: 1178px) {
    flex: 0 0 (100%/3);

    & > dd {
      padding-right: 20px;
    }

    &.type2 {
      flex: 0 0 100%;
    }

    &.type3 {
      flex: 0 0 (100% /3) * 2;
    }

    &.type4 {
      flex: 0 0 50%;
    }
  }
}

.appl_dl2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px 0;
  font-size: 0.875rem;
  color: #222;
  border: 1px solid #d2d3d9;

  &.bg2 {
    background-color: #edeff2;
  }

  & > dt {
    position: relative;
    flex: 0 0 79px;
    align-self: flex-start;
    margin-top: 6px;
    color: #222;
    text-align: center;
    border-right: 2px dotted #d2d3d9;
  }

  & > dd {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

    .input_wrtwrap {
      flex-basis: 100%;

      & + .input_wrtwrap {
        margin-top: 5px;
      }
    }
  }

  .type2 {
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;

    .size_l {
      flex: 2;
    }

    .size_r {
      flex: 0;
      margin-left: 10px;
    }
  }

  @media all and (min-width: 1178px) {
    padding: 12px 0;

    & > dt {
      align-self: center;
      margin-top: 0;
    }

    & > dd {
      flex-wrap: nowrap;
      padding: 0 30px 0 17px;

      .input_wrtwrap {
        flex: 1 1 185px;

        & + .input_wrtwrap {
          margin: 0 0 0 30px;
        }
      }
    }

    .type2 {
      .size_l {
        flex: 0 0 620px;
      }
    }
  }
}

.appl_ul {
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 8px;
  border: 1px solid #d2d3d9;
  background-color: #fff;
  color: #222;
  font-size: 0.75rem;

  &.type2 {
    background-color: #e5e7eb;
  }

  & > li {
    flex: 1 20%;
    border-right: 2px dotted #d2d3d9;
    padding: 0 15px;

    &.title {
      flex: 3 45%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.name,
    &.status {
      border-right: none;
    }

    &.name {
      flex: 1 10%;
    }

    &.status {
      flex: 1 25%;
      padding-left: 0;
      text-align: right;

      .completed {
        position: relative;
        color: #747578;
        font-size: 0.688rem;
        padding-left: 10px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 7px;
          height: 5px;
          left: 0;
          top: 50%;
          transform: translateX(-50%);
          background: url("../images/love/check.png") no-repeat;
          background-size: contain;
        }
      }

      @media all and (min-width: 1178px) {
        .completed {
          font-size: 1rem;
          padding-left: 18px;

          &::before {
            width: 14px;
            height: 10px;
          }
        }

        .lv_btnset {
          margin-top: 4px;
        }
      }
    }

    &:last-of-type {
      border-right: none;
    }
  }

  @media all and (min-width: 1178px) {
    padding: 12px 0;
    min-height: 50px;
    font-size: 1rem;

    & > li {
      padding: 0 30px;

      &.date {
        flex-basis: 70px;
      }

      &.title {
        flex-basis: 435px;
      }

      &.name {
        flex: 1 10%;
      }
    }
  }
}

.lv_btnset {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #f6864c;
  overflow: hidden;

  span {
    display: block;
    margin: 5px auto;
    width: 15px;
    height: 15px;
    background: url("../images/love/ico_set.png") no-repeat center;
    background-size: contain;
    color: transparent;
    font-size: 1px;
    text-indent: -9999rem;
  }

  @media all and (min-width: 1178px) {
    width: 40px;
    height: 40px;

    span {
      margin: 8px auto;
      width: 22px;
      height: 23px;
    }
  }
}

.athtit1 {
  padding: 10px 5px 0 8px;
  color: #222;
  font-weight: 600;
  font-size: 0.813rem;

  @media all and (min-width: 1178px) {
    padding: 18px 5px 0 30px;
    font-size: 1rem;
  }
}

.ipt_attr {
  display: inline-block;
  vertical-align: middle;
  color: #f6864c;
  font-size: 0.875rem;
  margin-right: 3px;
}

.love_applywrap {
  word-break: keep-all;
  letter-spacing: -0.08rem;

  /* form */
  .input_wrtwrap {
    position: relative;

    * {
      vertical-align: middle;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    input[type="date"],
    input[type="email"] {
      font-size: 0.875rem;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      border: none;
      box-sizing: border-box;
      transition: 0.5s ease 0s;
      -webkit-transition: 0.5s ease 0s;
      box-sizing: border-box;
    }

    input.inptype1 {
      border: 1px solid #d2d3d9;
    }

    input:disabled {
      color: #989aa2;
      background-color: #edeff2;
    }

    .wtxt1 {
      width: 60%;
    }
    .wtxt2 {
      width: 40%;
    }
    .wtxt100 {
      width: 100%;
    }

    @media all and (min-width: 1178px) {
      input[type="text"],
      input[type="password"],
      input[type="tel"],
      input[type="number"],
      input[type="date"],
      input[type="email"] {
        font-size: 1rem;
        height: 40px;
        line-height: 40px;
        padding: 0 18px;
      }
    }
  }

  .size_full,
  .size_full2 {
    width: 100%;

    &.lastbtn1 {
      padding-right: 40px;
    }
  }

  @media all and (min-width: 1178px) {
    .size_full2 {
      width: 50%;
    }
  }

  .seltype1 {
    height: 32px;
    padding: 0 10px;
    font-size: 0.875rem;
    line-height: 32px;
    border: 1px solid #d2d3d9;
    box-sizing: border-box;
    background: #fff;
    transition: 0.5s ease 0s;
    -webkit-transition: 0.5s ease 0s;
  }
  .seltype2 {
    height: 32px;
    padding: 0 10px;
    font-size: 0.875rem;
    line-height: 32px;
    border: 1px solid #d2d3d9;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.5s ease 0s;
    -webkit-transition: 0.5s ease 0s;
  }

  .wtxt_mq1 {
    width: 70%;
  }
  .wtxt_mq2,
  .wtxt_mq3,
  .wtxt_mq4,
  .wtxt_mq5,
  .wtxt_mq6,
  .wtxt_mq8 {
    width: 100%;
  }
  .wtxt_mq7 {
    width: 50%;
  }
  .ftxt_mq1 {
    flex: 1;
  }
  .ftxt_mq2 {
    flex: 2;
  }
  .ftxt_mq3 {
    flex: 3;
  }
  .flx_w100 {
    flex-basis: 100%;
  }

  @media all and (min-width: 1178px) {
    .seltype1,
    .seltype2 {
      height: 40px;
      padding: 0 15px;
      font-size: 1rem;
      line-height: 40px;
    }

    .wtxt_mq1,
    .wtxt_mq2 {
      width: 23%;
    }

    .wtxt_mq3 {
      width: 31%;
    }

    .wtxt_mq4 {
      width: 18%;
    }

    .wtxt_mq5 {
      width: 32%;
    }

    .wtxt_mq6 {
      width: 50%;
    }

    .wtxt_mq7 {
      width: 18%;
    }

    .wtxt_mq8 {
      width: 48%;
    }

    .ftxt_mq1 {
      flex: 0 0 75px;
    }

    .ftxt_mq2 {
      flex: 0 0 240px;
    }
  }

  .ml5 {
    margin-left: 5px;
  }
  .ml10 {
    margin-left: 10px;
  }
  .ml35 {
    margin-left: 35px;
  }
  .mr15 {
    margin-right: 15px;
  }
  .mt5 {
    margin-top: 5px;
  }
  .mt8 {
    margin-top: 8px;
  }
  .mt10 {
    margin-top: 10px;
  }
  .mb8 {
    margin-bottom: 8px;
  }
  .mb10 {
    margin-bottom: 10px;
  }

  .mod_mt5 {
    margin-top: 5px;

    @media all and (min-width: 1178px) {
      margin-top: 0;
    }
  }
}

.btn_upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;

  & + label {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #525a6c;
    background-image: url("../images/love/ico_upload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px auto;
    cursor: pointer;

    @media all and (min-width: 1178px) {
      width: 40px;
      height: 40px;
      background-size: auto;
    }
  }
}

.aplv_sect {
  & + & {
    margin-top: 35px;

    @media all and (min-width: 1178px) {
      margin-top: 50px;
    }
  }
}

.aplv_btnwrap {
  display: flex;
  align-items: center;

  &.right {
    justify-content: flex-end;
    flex-wrap: wrap;

    button + button,
    label + button {
      margin-left: 8px;
    }

    .stxt1 {
      text-align: right;
      font-size: 0.75rem;

      @media all and (min-width: 1178px) {
        font-size: 1rem;
      }

      & + .btn_aplv1 {
        margin-left: 15px;
      }
    }
  }
}

.btn_aplv1 {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;

  &.bg1 {
    background-color: #525a6c;
    border: 1px solid #525a6c;
  }

  &.bg2 {
    background-color: #f6864c;
    border: 1px solid #f6864c;
  }

  &.bg3 {
    background-color: #fff;
    border: 1px solid #f6864c;

    &.on {
      background-color: #f6864c;
    }
  }

  & > span {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    text-indent: -9999rem;
  }

  @media all and (min-width: 1178px) {
    width: 40px;
    height: 40px;
  }
}

.btn_aplv2 {
  display: inline-block;
  min-width: 80px;
  padding: 7px 30px;
  margin: 0 4px;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid #383f4f;
  background-color: #fff;
  color: #383f4f;
  border-radius: 20px;

  &.bg1 {
    background-color: #fff;
    border: 1px solid #f6864c;
    color: #f6864c;
  }

  &.bg2 {
    background-color: #f6864c;
    border: 1px solid #f6864c;
    color: #fff;
  }

  &.bg3 {
    background-color: #383f4f;
    border: 1px solid #383f4f;
    color: #fff;
  }

  &.bg4 {
    background-color: #525a6c;
    border: 1px solid #525a6c;
    color: #fff;
  }

  @media all and (min-width: 1178px) {
    font-size: 1.125rem;
  }
}

.btn_aplv3 {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  font-size: 0.875rem;

  & > span {
    display: inline-block;
  }

  &.bg1 {
    color: #fff;
    background-color: #383f4f;
    border: 1px solid #383f4f;
  }

  @media all and (min-width: 1178px) {
    padding: 7px 18px;
    font-size: 1rem;
  }
}

.btn_aplv4 {
  display: inline-block;
  min-width: 80px;
  padding: 4px 15px;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid #383f4f;
  background-color: #fff;
  color: #383f4f;
  border-radius: 30px;

  &.bg1 {
    color: #fff;
    background-color: #383f4f;
    border: 1px solid #383f4f;
  }

  @media all and (min-width: 1178px) {
    padding: 7px 20px;
    font-size: 1.125rem;
  }
}

.icaplv_plus {
  background: url("../images/love/ico_plus.png") no-repeat center;
}

.icaplv_check {
  background: url("../images/love/ico_check.png") no-repeat center;
}

.on .icaplv_check {
  background: url("../images/love/ico_check_on.png") no-repeat center;
}

.aplv_box2 {
  display: flex;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 0.75rem;
  border: 2px solid #e4e6ea;

  .first {
    display: flex;
    flex: 0 0 70px;
    align-self: center;
    border-right: 2px dotted #d2d3d9;

    .atten {
      flex: 1;
      text-align: center;
      color: #de3030;
      font-weight: 700;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto 2px;
        background: url("../images/love/ico_mark.png") no-repeat center;
        background-size: contain;
      }
    }
  }

  .atten_note {
    padding-left: 14px;
    color: #222;
    font-weight: 700;
  }

  @media all and (min-width: 1178px) {
    border-width: 3px;
    font-size: 1rem;

    .first {
      flex-basis: 90px;

      .atten {
        &::before {
          width: 27px;
          height: 27px;
        }
      }
    }

    .atten_note {
      padding-left: 22px;
    }
  }
}

.aplv_txtfield {
  padding: 10px;
  background-color: #f0f2f5;
  border: 1px solid #d2d3d9;

  .apl_textarea {
    position: relative;
    background-color: #fff;
    border: 1px solid #d2d3d9;

    textarea {
      width: calc(100% - 16px);
      height: 55px;
      padding: 8px;
      border: none;
      color: #222;
      transition: 0.3s linear;
      overflow: hidden;
      overflow-y: auto;
    }

    .btn_txt_expend {
      display: block;
      width: 100%;
      height: 20px;
      overflow: hidden;

      span {
        display: block;
        width: 18px;
        height: 11px;
        margin: auto;
        text-indent: -9999rem;
        font-size: 1px;
        color: transparent;
        background: url("../images/love/ico_arr.png") no-repeat;
        background-size: contain;
        transition: 0.3s linear;
      }
    }

    &.expend {
      textarea {
        height: 250px;
      }

      .btn_txt_expend {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  .text_byte {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.75rem;
    color: #989aa2;

    span {
      color: #383f4f;
    }
  }

  @media all and (min-width: 1178px) {
    padding: 31px 31px 32px;

    &.type2 {
      padding-top: 10px;
    }

    .apl_textarea {
      textarea {
        width: calc(100% - 32px);
        height: 60px;
        padding: 16px;
      }

      .btn_txt_expend {
        height: 27px;
      }
    }

    .text_byte {
      right: 15px;
      bottom: 12px;
    }
  }
}

.aplv_argwrap {
  margin-top: 15px;
  font-size: 0.875rem;
  color: #222;

  .argchk {
    margin-top: 5px;
  }

  &.type2 {
    display: flex;
    flex-wrap: wrap;
    color: #666;

    .argtxt {
      flex: 0 0 100%;
    }

    .argchk {
      flex: 0 0 100%;
      text-align: right;
    }
  }

  @media all and (min-width: 1178px) {
    display: flex;
    font-size: 1rem;

    .argchk {
      margin: 0 0 0 22px;
    }

    &.type2 {
      .argchk {
        margin-left: 0px;
      }
    }
  }
}

.appl_box3 {
  padding: 15px;
  background-color: #f0f2f5;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #e5e6eb;

  @media all and (min-width: 1178px) {
    padding: 15px 30px 30px;
  }
}

.ta_01 {
  table {
    width: 100%;
    border-top: 1px solid #b7bec4;
    background-color: #fff;

    thead {
      th {
        background-color: #dfe1e5;
        font-weight: 700;
        color: #222;
        text-align: center;
      }
    }

    tbody {
      th,
      td {
        color: #666;
      }
    }

    th,
    td {
      padding: 8px 5px;
      font-size: 0.75rem;
      border-left: 1px solid #b7bec4;
      border-bottom: 1px solid #b7bec4;
      word-break: break-all;
    }
    thead tr th:first-child,
    tbody tr th:first-child,
    tbody tr td:first-child,
    tfoot tr th:first-child,
    tfoot tr td:first-child {
      border-left: none;
    }
    thead tr th.line_on,
    tbody tr th.line_on,
    tbody tr td.line_on {
      border-left: 1px solid #b7bec4;
    }
    .tx {
      text-align: left;
    }
    .nm {
      text-align: center;
    }
    .my {
      text-align: right;
    }

    @media all and (min-width: 1178px) {
      th,
      td {
        font-size: 1rem;
      }
    }
  }
}

.mq_colgroup_none,
.mq_mb_none {
  display: none;
}

@media all and (min-width: 1178px) {
  .mq_colgroup_none {
    display: table-column-group;
  }
  .mq_mb_none {
    display: table-cell;
  }
}

.aplv_btmtxt {
  margin-top: 30px;
  color: #222;
  text-align: center;

  p {
    & + p {
      margin-top: 10px;
    }
  }
}

.aplv_btm_btnwrap {
  margin-top: 25px;

  &.center {
    text-align: center;
  }
}

.aplv_popwrap {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.32) 3px 0 10px;

  &.widtype1 {
    width: 90%;
    max-width: 547px;
  }

  &.widtype2 {
    width: 90%;
    max-width: 617px;
  }

  .lvpop_colse {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 10px;
    right: 10px;

    span {
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      background: url("../images/love/ico_close.png") no-repeat;
      background-size: contain;
      font-size: 1px;
      color: transparent;
      text-indent: -9999rem;
    }
  }

  @media all and (min-width: 1178px) {
    .lvpop_colse {
      width: 50px;
      height: 50px;

      span {
        width: 26px;
        height: 26px;
      }
    }
  }
}

.lvpop_contents {
  padding: 25px 25px 40px;

  &.p_lvcenter {
    text-align: center;
  }

  .lvpop_note {
    margin-bottom: 20px;
    color: #222;
    font-weight: 700;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin: 30px auto 15px;
      background-image: url("../images/love/ico_mark2.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.org {
      &::before {
        width: 36px;
        height: 28px;
        background-image: url("../images/love/ico_org.png");
      }
    }

    &.bell {
      &::before {
        width: 30px;
        height: 33px;
        background-image: url("../images/love/ico_bell.png");
      }
    }
  }

  .mt15 {
    margin-top: 15px;
  }

  @media all and (min-width: 1178px) {
    .lvpop_note {
      font-size: 1.25rem;

      &::before {
        width: 54px;
        height: 54px;
      }

      &.org {
        &::before {
          width: 56px;
          height: 43px;
        }
      }

      &.bell {
        &::before {
          width: 47px;
          height: 52px;
        }
      }
    }
  }
}

.pwd_inp {
  display: flex;
  justify-content: center;

  .item {
    width: 40px;
    height: 40px;
    margin: 0 4px;

    input {
      width: 40px;
      height: 40px;
      border: 1px solid #d2d3d9;
      font-size: 1.25rem;
      font-weight: 700;
      color: #222;
      text-align: center;
    }
  }
}

.lv_search {
  display: flex;
  flex-wrap: wrap;

  .ap_ntxt2 {
    flex: 0 100%;
  }

  .ap_searchfrm {
    flex: 0 160px;
    margin-bottom: 15px;
  }

  @media all and (min-width: 1178px) {
    flex-wrap: nowrap;

    .ap_ntxt2 {
      flex: 1 auto;
    }

    .ap_searchfrm {
      margin-bottom: 0;
    }
  }
}

.lvpop_srchwrap {
  position: relative;
  width: 90%;
  max-width: 367px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #383f4f;
  background-color: #fff;
  overflow: hidden;

  input[type="text"] {
    width: 100%;
    height: 30px;
    line-height: 28px;
    padding: 0 36px 0 6px;
    border: none;
  }

  .btn_srch {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background-color: #383f4f;
    overflow: hidden;
    z-index: 2;

    span {
      display: block;
      width: 12px;
      height: 12px;
      margin: auto;
      background: url("../images/love/ico_search2.png") no-repeat;
      background-size: contain;
      font-size: 1px;
      color: transparent;
      text-indent: -9999rem;
    }
  }

  @media all and (min-width: 1178px) {
    height: 40px;

    input[type="text"] {
      height: 40px;
      line-height: 38px;
      padding: 0 50px 0 10px;
    }

    .btn_srch {
      width: 40px;
      height: 40px;

      span {
        width: 17px;
        height: 17px;
      }
    }
  }
}

.ap_searchfrm {
  position: relative;
  height: 28px;
  border: 1px solid #383f4f;
  border-radius: 12px;

  .srcfrm {
    width: 100%;
    height: 28px;
    padding: 0 34px 0 16px;
    line-height: 28px;
    color: #222;
    border: none;
    background-color: transparent;
  }

  .srcfrm_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 28px;
    overflow: hidden;

    span {
      display: block;
      margin: auto auto auto 6px;
      background: url("../images/love/ico_search.png") no-repeat;
      background-size: contain;
      font-size: 1px;
      color: transparent;
      text-indent: -9999rem;
      width: 13px;
      height: 13px;
    }
  }
}

.ap_tbl1 {
  border-top: 1px solid #383f4f;

  table {
    th,
    td {
      border-bottom: 1px solid #d4d5da;
      padding: 12px 5px;
      font-size: 0.813rem;
      text-align: left;
      color: #222;

      &.nm {
        text-align: center;
      }
    }

    .orgname {
      display: block;
      position: relative;
      border-right: 1px dotted #d2d3d9;
    }

    @media all and (min-width: 1178px) {
      th,
      td {
        font-size: 1rem;
      }

      .orgname {
        border-left-width: 2px;
      }
    }
  }
}

.lv_btr {
  display: inline-block;
  padding: 2px 8px;
  background-color: #f2f4f8;
  border: 1px solid #cacbce;
  border-radius: 20px;
  font-size: 0.75rem;
  color: #222;

  @media all and (min-width: 1178px) {
    padding: 4px 15px;
    font-size: 1rem;
  }
}

.lv_btr2 {
  display: inline-block;
  padding: 2px 10px;
  font-size: 0.75rem;
  color: #f6864c;
  border: 1px solid #f6864c;
  border-radius: 20px;

  @media all and (min-width: 1178px) {
    font-size: 1rem;
  }
}

.lv_ico {
  width: 40px;
  height: 41px;
  margin: 0 auto 15px;
  background-repeat: no-repeat;
  background-size: contain;

  &.save {
    background-image: url("../images/love/ico_save.png");
  }
  &.submit {
    background-image: url("../images/love/ico_submit.png");
  }
  &.doc {
    background-image: url("../images/love/ico_doc.png");
  }
  &.doccheck {
    background-image: url("../images/love/ico_doc_check.png");
  }

  @media all and (min-width: 1178px) {
    width: 75px;
    height: 76px;
  }
}

.lv_alrment {
  text-align: center;

  .lv_hment1 {
    margin-bottom: 24px;
    color: #232937;
    font-size: 0.875rem;
    letter-spacing: -0.1em;

    .name {
      font-size: 1rem;
      font-weight: 700;
    }

    strong {
      display: block;
      font-size: 1.25rem;
      font-weight: 700;
    }

    @media all and (min-width: 1178px) {
      margin-bottom: 30px;
      font-size: 1.5rem;

      .name {
        font-size: 1.875rem;
      }

      strong {
        font-size: 2.5rem;
      }
    }
  }

  ul {
    margin-bottom: 20px;

    & > li {
      font-size: 0.75rem;
      color: #f6864c;
    }

    @media all and (min-width: 1178px) {
      margin-bottom: 35px;

      & > li {
        font-size: 1rem;
      }
    }
  }
}

.lv_ptxt {
  margin: 15px 0 25px;
  font-size: 0.75rem;
  color: #f6864c;
  text-align: center;

  @media all and (min-width: 1178px) {
    margin: 30px 0 40px;
    font-size: 1rem;
  }
}

.lv_stit3 {
  position: relative;
  margin-bottom: 15px;
  color: #232937;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;

  @media all and (min-width: 1178px) {
    margin-bottom: 30px;
    font-size: 2.25rem;
  }
}

.lv_infob {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 5px 12px;
  background-color: #edeff2;
  border-radius: 1px;

  p {
    flex: 0 100%;
    color: #222;
    font-size: 0.75rem;
  }

  .lv_btnr {
    flex: 0 100%;
    margin-top: 10px;
  }

  @media all and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    p {
      flex: 2;
    }

    .lv_btnr {
      flex: 1;
      margin-top: 0;
      text-align: right;
    }
  }

  @media all and (min-width: 1178px) {
    padding: 10px 25px;

    p {
      font-size: 1rem;
    }
  }
}

.lvlist_wrap {
  margin-top: 15px;

  .lvlbtn_wrap {
    text-align: right;
    margin-bottom: 8px;

    .btn_gright {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #525a6c;
      text-align: center;

      span {
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 1px;
        color: transparent;
        text-indent: -9999rem;
      }

      &.type_list {
        span {
          background-image: url("../images/love/ico_list.png");
        }
      }
      &.type_gallery {
        span {
          background-image: url("../images/love/ico_gallery.png");
        }
      }
    }
  }
}

.lvapp_list {
  border-top: 1px solid #383f4f;
  border-bottom: 1px solid #383f4f;

  & > li {
    border-top: 1px solid #e5e6eb;

    &:first-of-type {
      border-top: none;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    @media all and (min-width: 1178px) {
      padding: 24px 23px;
    }
  }

  &.type_gallery {
    display: none;

    &.active {
      display: block;
    }

    .item {
      .desc {
        flex: 0 calc(100% - 110px);
        padding-right: 15px;
        font-size: 0.75rem;

        h4 {
          margin-bottom: 5px;
          font-size: 0.875rem;
          font-weight: 700;
          color: #222;
        }

        .txt {
          margin-bottom: 5px;
          word-break: keep-all;
          color: #444;
        }

        .date {
          color: #222;
        }

        .lvlist_btnwrap {
          margin-top: 10px;
        }
      }

      .thumb {
        position: relative;
        flex: 1 110px;

        .sticker {
          position: absolute;
          top: 0;
          right: 0;
        }

        img {
          width: 100%;
        }
      }
    }

    @media all and (min-width: 768px) {
      display: none;
      flex-wrap: wrap;

      &.active {
        display: flex;
      }

      & > li {
        position: relative;
        flex: 0 50%;

        &:nth-of-type(even) {
          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 15px;
            bottom: 15px;
            border-left: 1px dotted #666b78;
          }
        }
      }
    }

    @media all and (min-width: 1178px) {
      & > li {
        &:nth-of-type(even) {
          &::before {
            top: 24px;
            bottom: 24px;
          }
        }
      }

      .item {
        .desc {
          flex-basis: calc(100% - 220px);
          padding-right: 50px;
          font-size: 1rem;

          h4 {
            margin-bottom: 10px;
            font-size: 1.125rem;
          }

          .txt {
            margin-bottom: 10px;
          }

          .lvlist_btnwrap {
            margin-top: 15px;
          }
        }

        .thumb {
          flex-basis: 220px;
        }
      }
    }
  }

  .sticker {
    min-width: 55px;
    padding: 2px 4px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;

    &.ing {
      color: #fff;
      background-color: #f6864c;
    }

    &.end {
      color: #525a6c;
      background-color: #c7ccd7;
    }

    @media all and (min-width: 1178px) {
      font-size: 1rem;
    }
  }

  &.type_list {
    display: none;

    &.active {
      display: block;
    }

    .desc {
      font-size: 0.75rem;

      h4 {
        margin-bottom: 5px;
        font-size: 0.875rem;
        font-weight: 700;
        color: #222;

        .sticker {
          display: inline-block;
          margin-right: 5px;
        }
      }

      .txt {
        margin-bottom: 5px;
        word-break: keep-all;
        color: #444;
      }

      .date {
        color: #222;
      }
    }

    .lvlist_btnwrap {
      margin-top: 15px;
    }

    @media all and (max-width: 767px) {
      .item {
        display: block;
      }
    }

    @media all and (min-width: 768px) {
      .item {
        align-items: center;
      }

      .desc {
        flex-basis: calc(100% - 140px);
        padding-right: 20px;
      }

      .lvlist_btnwrap {
        flex-basis: 140px;
        margin-top: 0;
        text-align: right;
      }
    }

    @media all and (min-width: 1178px) {
      .desc {
        font-size: 1rem;
        padding-right: 50px;

        h4 {
          margin-bottom: 10px;
          font-size: 1.125rem;
        }

        .txt {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.visual_space {
  .love_sub01 {
    background-image: url("../images/love/sub01.jpg");
  }
}

.lv_orgchart {
  margin-top: 45px;
  text-align: center;

  img {
    max-width: 100%;
  }

  @media all and (min-width: 1178px) {
    margin-top: 90px;
  }
}
