.btn_exc {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/common/ico_exc.png") no-repeat;
  background-size: contain;

  span {
    @include blind();
  }

  @include mq("deskTop") {
    width: 31px;
    height: 31px;
  }
}

.bts {
  color: $color-primary;
  border: 1px solid $color-primary;
  background-color: $white;
  display: inline-block;
  margin: 2px 0;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 0.75rem;

  &.btcol1 {
    color: $skyBlue;
    border-color: $skyBlue;
  }

  &.btcol2 {
    color: $white;
    background-color: $skyBlue;
    border-color: $skyBlue;
  }

  &.btcol3 {
    color: $white;
    background-color: $color-primary;
    border-color: $color-primary;
  }

  & + & {
    margin-left: 2px;
  }

  @include mq("deskTop") {
    padding: 3px 15px;
    font-size: 1rem;
  }
}

.bts2 {
  color: $color-primary;
  border: 1px solid $color-primary;
  background-color: $white;
  display: inline-block;
  min-width: 80px;
  margin: 2px 0;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  text-align: center;

  &.btcol1 {
    color: $skyBlue;
    border-color: $skyBlue;
  }

  &.btcol2 {
    color: $white;
    background-color: $skyBlue;
    border-color: $skyBlue;
  }

  @include mq("deskTop") {
    min-width: 134px;
    padding: 7px 15px;
    font-size: 1rem;
  }
}

.bts3 {
  color: $white;
  border: 1px solid $skyBlue;
  background-color: $skyBlue;
  display: inline-block;
  padding: 2px 15px 3px;
  border-radius: 5px;
  font-size: 0.75rem;
  text-align: center;

  @include mq("deskTop") {
    font-size: 1rem;
  }
}

.icobtn {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;

  span {
    @include blind();
  }

  &.ic-pc {
    width: 28px;
    height: 28px;
    background-image: url("../images/btn/btn_desk.png");
  }

  &.ic-mobile {
    width: 28px;
    height: 28px;
    background-image: url("../images/btn/btn_mobile.png");
  }

  & + & {
    margin-left: 4px;
  }
}

.admbtn-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;

  & + label {
    display: block;
    width: 28px;
    height: 28px;
    background: url("../images/btn/btn_upload.png") no-repeat;
    background-size: contain;
    cursor: pointer;

    span {
      @include blind();
    }
  }
}

.btn-add {
  background-color: $color-default;
  color: $white;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  border-radius: 6px;
}
