.selector {
  border: 1px solid $gray;
  background-color: $white;
  display: inline-block;
  height: 25px;
  padding: 0 25px 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;
  appearance: none;
  background: url("../images/common/select_arr.png") no-repeat 93% center;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
  }

  &.wtxtp70 {
    width: 70%;
  }
}

.inpt1 {
  border: 1px solid $gray4;
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 6px !important;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
  }

  &.wtxtp70 {
    width: 70%;
  }
  &.wtxt1 {
    width: 80px;
  }

  &.my {
    text-align: right;
  }
}

.inpt2 {
  border: 1px solid $gray;
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
  }
}

.datepicker {
  border: 1px solid $gray4;
  width: 95%;
  max-width: 140px;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  box-sizing: border-box;
  border-radius: 6px !important;

  &.inpt2 {
    border: 1px solid $gray;
    border-radius: 0 !important;
  }

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
    width: 140px;
  }
}

.txtarea1 {
  border: 1px solid $gray4;
  width: 100%;
  padding: 10px;
  font-size: 0.75rem;
  box-sizing: border-box;
  border-radius: 6px;

  @include mq("deskTop") {
    font-size: 1rem;
  }
}

.list-search {
  margin-top: 10px;

  .date-select {
    display: none;

    &.on {
      display: inline-block;
    }
  }

  .dta-srcbtnwrap {
    border: 1px solid $gray;
    position: relative;
    display: block;
    padding: 3px 30px 2px 12px;
    font-size: 0.75rem;

    &::after {
      @include posiCenter("v");
      @include transition();
      content: "";
      display: block;
      width: 10px;
      height: 6px;
      right: 6px;
      background: url("../images/common/select_arr.png") no-repeat;
      background-size: contain;
    }

    &.on {
      &::after {
        transform: rotate(-180deg);
      }
    }

    @include mq("deskTop") {
      font-size: 1rem;
    }
  }

  .datepicker {
    width: 85px;
  }

  .search-inp {
    width: 200px;
  }

  @include mq("deskTop") {
    margin-top: 0;

    .datepicker {
      width: 120px;
    }

    .search-inp {
      width: 250px;
    }
  }
}

.txaera1 {
  background-color: $white;
  border: 1px solid $gray;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  box-sizing: border-box;

  @include mq("deskTop") {
    padding: 15px;
    font-size: 1rem;
  }
}

.chklist {
  display: flex;
  flex-wrap: wrap;

  & > li {
    flex: 0 100%;
    margin: 2px 0 3px;

    @include mq("tablet") {
      flex-basis: 33%;
    }

    @include mq("deskTop") {
      flex-basis: auto;

      & + li {
        margin-left: 30px;
      }
    }
  }
}

.detail-searhwrap {
  display: none;
  border: 1px solid $gray;
  background-color: $gray3;
  padding: 20px 15px;
  margin-bottom: 10px;
  font-size: 0.813rem;

  &.open {
    display: block;
  }

  .s-item {
    margin-top: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .selector {
    width: 100%;
    background-color: $white;
  }

  .btn-dtwp {
    margin-top: 10px;
  }

  .btn-dtsearch {
    color: $white;
    background-color: $skyBlue;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
  }

  @include mq("deskTop") {
    justify-content: space-between;
    margin-bottom: 15px;

    &.open {
      display: flex;
    }

    .flexinn {
      display: flex;
      flex-wrap: wrap;
      flex: 0 calc(100% - 120px);

      .innf {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 0 100%;
      }
    }

    .btn-dtwp {
      flex: 0 120px;
      margin: 0;

      .btn-dtsearch {
        height: 100%;
      }
    }

    .s-item {
      flex: auto;
      margin: 0 30px 10px 0;
    }

    label {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }

    .selector {
      width: 120px;
    }

    .inpt2 {
      width: 120px;

      &.wmt1 {
        width: 220px;
      }
      &.wmt2 {
        width: 300px;
      }
    }
  }
}
