.selector {
  border: 1px solid $gray;
  background-color: $white;
  display: inline-block;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30pc;
  }
}

.inpt1 {
  border: 1px solid $gray4;
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 6px !important;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
  }

  &.wtxtp70 {
    width: 70%;
  }
  &.wtxt1 {
    width: 80px;
  }

  &.my {
    text-align: right;
  }
}

.inpt2 {
  border: 1px solid $gray;
  display: inline-block;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  line-height: 24px;
  box-sizing: border-box;

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
  }
}

.datepicker {
  border: 1px solid $gray4;
  width: 95%;
  max-width: 140px;
  height: 25px;
  padding: 0 10px;
  font-size: 0.75rem;
  box-sizing: border-box;
  border-radius: 6px !important;

  &.inpt2 {
    border: 1px solid $gray;
    border-radius: 0 !important;
  }

  @include mq("deskTop") {
    height: 31px;
    font-size: 1rem;
    line-height: 30px;
    width: 140px;
  }
}

.txtarea1 {
  border: 1px solid $gray4;
  width: 100%;
  padding: 10px;
  font-size: 0.75rem;
  box-sizing: border-box;
  border-radius: 6px;

  @include mq("deskTop") {
    font-size: 1rem;
  }
}

.list-search {
  margin-top: 10px;

  .date-select {
    display: none;

    &.on {
      display: inline-block;
    }
  }

  .datepicker {
    width: 85px;
  }

  .search-inp {
    width: 200px;
  }

  @include mq("deskTop") {
    margin-top: 0;

    .datepicker {
      width: 120px;
    }

    .search-inp {
      width: 250px;
    }
  }
}

.txaera1 {
  background-color: $white;
  border: 1px solid $gray;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  box-sizing: border-box;

  @include mq("deskTop") {
    padding: 15px;
    font-size: 1rem;
  }
}
