$color-primary: #383f4f;
$color-default: #222;
$white: #fff;
$black: #000;
$gray: #dfe5eb;
$gray2: #cfd3dc;
$gray3: #f2f4f8;
$navy: #222733;
$orange: #f6864c;
$skyBlue: #3899ec;
$violet: #6e70fb;
$blue: #6890b8;
