@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; /*vertical-align:baseline;*/}

body, th, td, input, select, textarea, button{font-size: 100%; line-height: 1.5; font-family: 'Noto Sans JP', 'Nanum Barun Gothic', sans-serif; color: #808693; font-weight: 400; letter-spacing: -0.04em}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}

body{-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: 700}
ol, ul, li ,dl, dt, dd{list-style:none outside none; padding:0; margin:0}
hr{display:none}
span{margin:0; padding:0; outline:0}
fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr{border:0}
address, caption, cite, code, dfn, em, strong, th, var{font-style: normal}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none}
table{border-collapse:separate; border-spacing:0; width: 100%; table-layout: fixed}
img{vertical-align:middle}
a{text-decoration:none; cursor:pointer; color: #808693}
a:active, a:hover{text-decoration: none}
input, select, label{vertical-align:middle}
input, select, textarea, button{font-size: 100%; vertical-align: middle; padding: 0; margin: 0}
input, textarea{/*border-radius: 0; appearance:none; -webkit-appearance:none;*/ font-family: 'Nanum Barun Gothic', sans-serif}
button,input[type='text'],input[type='password'],input[type='tel'],input[type='num'],input[type='button'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{resize:none}
button{border: 0 none; background-color: transparent; cursor: pointer; vertical-align: middle}
b, strong{font-weight: 700}
input[type='text'],input[type='password'],input[type='number'],input[type='tel']{box-sizing: border-box}
select{-webkit-appearance: menulist; border-radius: 0}
textarea{border-radius: 0; box-shadow: none; -webkit-appearance: none}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c4c4c4
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c4c4c4
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c4c4c4
}
:-moz-placeholder { /* Firefox 18- */
  color: #c4c4c4
}

/* SkipNavigation */
#skipNavigation{
	position: absolute;
	width: 100%;
	top: -200px;
	left: 0;
	margin: 0 auto;
	z-index: 9999
}
#skipNavigation a{
	display: block;
	height: 35px;
	background-color: #1c80cc;
	color: #fff;
	text-align: center
}
#skipNavigation a:active,
#skipNavigation a:focus{
	position: absolute;
	left: 0;
	top: 200px;
	width: 100%;
	color: #fff;
	background: #1c80cc;
	line-height: 35px;
	text-align: center;
	border-bottom:1px solid #dbdbdb;
	font-size: 16px
}
/* Common Style */
.clearfix:after{
	content: '';
	display: block;
	float: none;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden
}
legend, .blind, caption{
	position: absolute;
	top: 0;
	height: 0;
	font-size: 1px;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden
}
.onlydesk,
.onlydesk_dib{
	display: none !important
}
.onlydesk_td{
	display: none
}
.mbr{
	display: block
}
.block{
	display: block
}
.ofy_hidden{
	overflow-y: hidden
}
.dib{
	display: inline-block;
	vertical-align: middle
}
.posrel{
	position: relative
}
.fleft{
	float: left
}
.fright{
	float: right
}
/* 폰트 */
.ffroboto{
	font-family: 'Roboto', sans-serif;
}
.fs12{
	font-size: 0.75rem
}
.fs14{
	font-size: 0.875rem
}
.fs16{
	font-size: 1rem
}
.fsd16{
	font-size: 0.813rem
}
.fsd20{
	font-size: 0.938rem
}
.fsd22{
	font-size: 1rem
}
.fw400{
	font-weight: 400
}
.ftclr_default{
	color: #808693 !important
}
.ftclr_navy{
	color: #383f4f !important
}
.ftclr_navy2{
	color: #324573 !important
}
.ftclr_white{
	color: #fff !important
}
.ftclr_red{
	color: #f22828 !important
}
.ftclr_orange{
	color: #e36f33 !important
}
.ftclr_orange2{
	color: #f6864c !important
}
.ftclr_green{
	color: #6d8c37
}
.ftclr_gray{
	color: #cacdd1 !important
}
.ta_left{
	text-align: left !important
}
.ta_center,
.ta_center_onlymobile{
	text-align: center
}
.ta_right{
	text-align: right
}
.txhighlighter_black{
	padding: 1px;
	background-color: rgba(0,0,0,0.5)
}
.toverflow1{
	display: block !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.toverflow2{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

/* 버튼 */
.btn_wrap .center,
.btn_wrap .cen_rig{
	text-align: center
}
.btn_wrap .left{
	float: left;
	text-align: left;
	margin-bottom: 10px
}
.btn_wrap .right{
	float: right;
	text-align: right;
	margin-bottom: 10px
}
.btn_wrap .right .isico{
	text-indent: 9999em
}
.btn_wrap.btnmrg_lr{
	margin-left: 15px;
	margin-right: 15px
}
.btn01{
	display: inline-block;
	vertical-align: middle;
	padding: 8px 25px;
	border-radius: 21px;
	box-sizing: border-box
}
.btn02{
	display: inline-block;
	vertical-align: middle;
	min-height: 38px;
	padding: 6px 20px;
	border-radius: 21px;
	box-sizing: border-box
}
.btn03,
.btn05{
	display: inline-block;
	vertical-align: middle;
	min-width: 80px;
	min-height: 38px;
	padding: 6px 20px;
	border-radius: 21px;
	text-align: center;
	box-sizing: border-box
}
.btn04{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	min-height: 32px;
	padding: 3px 6px;
	font-size: 0.75rem;
	line-height: 1.1;
	text-align: center;
	box-sizing: border-box
}
.btn06{
	display: inline-block;
	vertical-align: middle;
	min-height: 32px;
	padding: 9px 6px;
	font-size: 0.813rem;
	line-height: 1.1;
	text-align: center;
	box-sizing: border-box
}
.btn07{
	display: inline-block;
	vertical-align: middle;
	min-height: 30px;
	padding: 8px 6px;
	font-size: 0.75rem;
	line-height: 1.1;
	text-align: center;
	box-sizing: border-box
}
.btn08{
	display: inline-block;
	vertical-align: middle;
	min-height: 32px;
	padding: 3px 6px;
	font-size: 0.75rem;
	line-height: 1.1;
	text-align: center;
	box-sizing: border-box
}
.btn09{
	display: inline-block;
	vertical-align: middle;
	padding: 3px 12px;
	border-radius: 20px;
	box-sizing: border-box
}
.btn_wrap .btnexp{
	display: block !important;
	width: 100%
}
.btn_controls{
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 27px;
	border: 1px solid #e5e6eb;
	text-indent: -9999em;
	box-sizing: border-box
}
.btn_controls.prev{
	background: url('../images/common/page_prev.gif') no-repeat center
}
.btn_controls.next{
	background: url('../images/common/page_next.gif') no-repeat center
}
.btn_meth{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 6px 10px 4px 20px;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.1
}
.btn_meth:before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 8px;
	background-repeat: no-repeat;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 3
}
.btn_meth.plus:before{
	width: 8px;
	height: 9px;
	background-image: url('../images/common/plus.png')
}
.btn_meth.minus:before{
	width: 8px;
	height: 1px;
	background-image: url('../images/common/minus.png')
}
.btclr_white{
	color: #525a6c;
	background-color: #fff;
	border: 1px solid #525a6c
}
.btclr_gray{
	color: #fff;
	background-color: #8b8d92;
	border: 1px solid #8b8d92
}
.btclr_gray2{
	color: #171a24;
	background-color: #f4f6fb;
	border: 1px solid #dfe2e8
}
.btclr_navy{
	color: #fff;
	background-color: #383f4f;
	border: 1px solid #383f4f
}
.btclr_navy2{
	color: #fff;
	background-color: #525a6c;
	border: 1px solid #525a6c
}
.btclr_orange{
	color: #fff;
	background-color: #f6864c;
	border: 1px solid #f6864c
}
.btclr_orange2{
	color: #f6864c;
	background-color: #fff;
	border: 1px solid #f6864c
}
.btclr_purple{
	color: #fff;
	background-color: #6c7bb4;
	border: 1px solid #6c7bb4
}
.btclr_green{
	color: #fff;
	background-color: #75a05e;
	border: 1px solid #75a05e
}

.btclr_darkblue{
	color: #fff;
	background-color: #10175b;
	border: 1px solid #10175b
}



.btnmore_wrap{
	border-top: 1px solid #e5e6eb
}
.btnmore1{
	display: inline-block;
	height: 25px;
	padding: 0 14px;
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
	color: #232937;
	line-height: 25px;
	background-color: #e5e6eb;
}
.btnmore1 span{
	display: inline-block;
	vertical-align: middle;
}
.bg_gray{
	background-color: #f1f3f8
}
.bg_gray2{
	background-color: #939db4 !important
}
.bg_gray3{
	background-color: #444d63
}
.bg_navy{
	background-color: #324573
}
.bg_navy2{
	background-color: #232937
}
.bg_green{
	background-color: #87a454
}
.bg_orange{
	background-color: #f6864c
}
.bdbtm_none{
	border-bottom: none !important
}
/* width */
.wid100{
	width: 100%
}
.wid80{
	width: 80%
}
.wid15{
	width: 15%
}
.widpx40{
	width: 40px
}
.widmode1{
	width: 33%
}
.widmode2{
	width: 65%
}
.pdt15{
	padding-top: 15px
}
.pdt20{
	padding-top: 20px
}
.pdr10{
	padding-right: 10px
}
.mgt5{
	margin-top: 5px
}
.mgt10{
	margin-top: 10px
}
.mgb0{
	margin-bottom: 0 !important
}
.mgb10{
	margin-bottom: 10px
}
.mgb50{
	margin-bottom: 50px
}
.mgl10{
	margin-left: 10px
}
.mgl20{
	margin-left: 20px
}
.mgr10{
	margin-right: 10px
}
.mgt_mode5{
	margin-top: 5px
}
.mgt_mode3{
	margin-top: 3px
}
.mgt_mode10{
	margin-top: 10px
}
.mgt_mode15{
	margin-top: 15px
}
.mgt_mode20{
	margin-top: 20px
}
.mgt_mode25{
	margin-top: 25px
}
.mgt_mode30{
	margin-top: 30px
}
.mgt_mode35{
	margin-top: 35px !important
}
.mgb_mode5{
	margin-bottom: 5px
}
.mgb_mode10{
	margin-bottom: 10px
}
.mgb_mode15{
	margin-bottom: 15px
}
.mgb_mode20{
	margin-bottom: 20px
}
.mgb_mode25{
	margin-bottom: 25px
}
.mgb_mode30{
	margin-bottom: 30px
}
.mgr_mode10{
	margin-right: 10px
}
.mgauto{
	margin: auto
}
.roundspace1{
	position: relative;
	width: 83px;
	height: 83px;
	border-radius: 50%
}
.roundicon{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3
}
.textbox1{
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	padding: 3px 2px;
	font-size: 0.688rem;
	color: #fff;
	line-height: 1.1
}
.roundbox1{
	width: 88px;
	height: 88px;
	border-radius: 50%;
	overflow: hidden;
}
/* 유동적인 구조 형태 */
.flex_group{
	display: table;
	width: 100%;
	box-sizing: border-box
}
.cl, .clc, .clr{
	display: table-cell;
	vertical-align: middle
}
.clc{
	text-align: center
}
.clr{
	text-align: right
}
.flex_group.fix{
	table-layout:fixed;
}
.flex_group [class*="cl"]{
	padding:0 2px !important;
}
.flex_group [class*="cl"]:first-child{
	padding-left:0 !important;
}
.flex_group [class*="cl"]:last-child{
	padding-right:0!important;
}
/* form */
.input_wrtwrap{
	position: relative
}
.input_wrtwrap *{
	vertical-align: middle;
}
.input_wrtwrap .size_full{
	width: 100%
}
.input_wrtwrap .size_full.lastbtn1{
	padding-right: 40px
}
.input_wrtwrap input[type='text'],
.input_wrtwrap input[type='password'],
.input_wrtwrap input[type='tel'],
.input_wrtwrap input[type='num'],
.input_wrtwrap input[type='date']{
	font-size: 0.875rem;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	border: none;
	box-sizing: border-box;
	transition : 0.5s ease 0s;
	-webkit-transition : 0.5s ease 0s;
}
.input_wrtwrap input.inptype1{
	border: 1px solid #d2d3d9
}
.seltype1{
	height: 32px;
	padding: 0 10px;
	font-size: 0.875rem;
	line-height: 32px;
	border: 1px solid #d2d3d9;
	box-sizing: border-box;
	background: transparent;
	transition : 0.5s ease 0s;
	-webkit-transition : 0.5s ease 0s;
}
.seltype2{
	height: 32px;
	padding: 0 10px;
	font-size: 0.875rem;
	line-height: 32px;
	border: 1px solid #d2d3d9;
	box-sizing: border-box;
	background-color: #fff;
	transition : 0.5s ease 0s;
	-webkit-transition : 0.5s ease 0s;
}
.textareastyle01{
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	line-height: 32px;
	border: none;
	box-sizing: border-box;
	background-color: #fff;
	transition : 0.5s ease 0s;
	-webkit-transition : 0.5s ease 0s;
}
.textareastyle02{
	padding: 10px;
	font-size: 1rem;
	line-height: 32px;
	border: 1px solid #d2d3d9;
	box-sizing: border-box;
	background-color: #fff;
	transition : 0.5s ease 0s;
	-webkit-transition : 0.5s ease 0s;
}
.bt_inpdel{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-collapse: none;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
	z-index: 3
}
.bt_inpdel .isico{
	margin: auto
}
.upfile_button label{
	display: inline-block;
	vertical-align: middle;
	min-height: 15px;
	padding: 6px 20px;
	font-size: 0.875rem;
	color: #232937;
	text-align: center;
	background-color: #f4f6fb;
	border: 1px solid #dfe2e8;
	cursor: pointer
}
.upfile_button label > span{
	display: inline-block;
	vertical-align: middle
}
.upfile_button label > span + span{
	margin-left: 4px
}
.upfile_button input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
/* images */
.isico,
.isarea,
.ispicto,
.isrcon{
	display: block;
	text-indent: -9999em;
	background-size: 320px auto;
	background-repeat: no-repeat;
	overflow: hidden
}
.isico{
	background-image: url('../images/common/is_ico@x2.png')
}
.isico.isi_map{
	width: 29px;
	height: 23px;
	background-position: 0 0
}
.isico.isi_download{
	width: 25px;
	height: 15px;
	background-position: -31px 0
}
.isico.isi_search2{
	width: 15px;
	height: 15px;
	background-position: -108px 0
}
.isico.isi_search3{
	width: 13px;
	height: 13px;
	background-position: -200px 0
}
.isico.isi_search4{
	width: 12px;
	height: 12px;
	background-position: -215px 0
}
.isico.isi_download{
	width: 15px;
	height: 16px;
	background-position: -125px 0
}
.isico.isi_list{
	width: 16px;
	height: 17px;
	background-position: -142px 0
}
.isico.isi_close{
	width: 13px;
	height: 13px;
	background-position: -160px 0
}
.isico.isi_prev{
	width: 23px;
	height: 19px;
	background-position: -175px 0
}
.isico.isi_fb{
	width: 21px;
	height: 21px;
	background-position: -229px 0
}
.isico.isi_tw{
	width: 21px;
	height: 21px;
	background-position: -252px 0
}
.isico.isi_ks{
	width: 21px;
	height: 21px;
	background-position: -275px 0
}
.isico.isi_share{
	width: 27px;
	height: 22px;
	background-position: 0 -29px
}
.isico.isi_likeit{
	width: 25px;
	height: 21px;
	background-position: -29px -29px
}
.isico.isi_reply{
	width: 26px;
	height: 22px;
	background-position: -56px -29px
}
.isico.isi_reply2{
	width: 16px;
	height: 11px;
	background-position: -298px 0
}
.isarea{
	width: 99px;
	height: 78px;
	background-image: url('../images/common/is_area.png')
}
.isarea.isa01{
	background-position: 0 0
}
.isarea.isa02{
	background-position: -100px 0
}
.isarea.isa03{
	background-position: -200px 0
}
.isarea.isa04{
	background-position: 0 -79px
}
.isarea.isa05{
	background-position: -100px -79px
}
.isarea.isa06{
	background-position: -200px -79px
}
.isarea.isa07{
	background-position: 0 -158px
}
.isarea.isa08{
	background-position: -100px -158px
}
.isarea.isa09{
	background-position: -200px -158px
}
.isarea.isa10{
	background-position: 0 -237px
}
.isarea.isa11{
	background-position: -100px -237px
}
.isarea.isa12{
	background-position: -200px -237px
}
.isarea.isa13{
	background-position: 0 -316px
}
.isarea.isa14{
	background-position: -100px -316px
}
.isarea.isa15{
	background-position: -200px -316px
}
.isarea.isa16{
	background-position: 0 -395px
}
.isarea.isa17{
	background-position: -100px -395px
}
.isarea.isa18{
	background-position: -200px -395px
}
.isarea.isa19{
	background-position: 0 -474px
}
.isarea.isa20{
	background-position: -100px -474px
}
.isarea.isa21{
	background-position: -200px -474px
}
.isarea.isa22{
	background-position: 0 -553px
}
.ispicto{
	display: block;
	text-indent: -9999em;
	background-image: url('../images/common/is_picto.png');
	background-size: auto 53px;
	background-repeat: no-repeat;
	overflow: hidden
}
.ispicto.isp_hdset{
	width: 39px;
	height: 37px;
	background-position: 0 0
}
.ispicto.isp_naro01{
	width: 50px;
	height: 53px;
	background-position: -40px 0
}
.ispicto.isp_naro02{
	width: 55px;
	height: 53px;
	background-position: -90px 0
}
.ispicto.isp_naro03{
	width: 44px;
	height: 53px;
	background-position: -147px 0
}
.ispicto.isp_naro04{
	width: 43px;
	height: 53px;
	background-position: -192px 0
}
.ispicto.isp_naro05{
	width: 42px;
	height: 53px;
	background-position: -236px 0
}
.ispicto.isp_naro06{
	width: 50px;
	height: 53px;
	background-position: -279px 0
}
.isrcon{
	background-image: url('../images/common/is_rcon@x2.png')
}
.isrcon.isreport1{
	width: 52px;
	height: 46px;
	background-position: 0 0
}
.isrcon.isreport2{
	width: 46px;
	height: 53px;
	background-position: -54px  0
}
.isrcon.isreport3{
	width: 38px;
	height: 52px;
	background-position: -103px 0
}
.isrcon.isreport4{
	width: 53px;
	height: 52px;
	background-position: -143px 0
}
.isrcon.isreport5{
	width: 43px;
	height: 48px;
	background-position: -198px 0
}
.isrcon.isreport6{
	width: 49px;
	height: 48px;
	background-position: -243px 0
}
.boxcon1{
	display: inline-block;
	vertical-align: middle;
	padding: 2px 3px;
	line-height: 1.1;
	font-size: 0.75rem;
	background-color: #76819a;
	color: #fff
}
.boxcon2{
	display: inline-block;
	vertical-align: middle;
	padding: 2px 3px;
	line-height: 1.1;
	font-size: 0.75rem;
	background-color: #fff;
	color: #f6864c;
	border: 1px solid #f6864c
}
.boxcon1.bc_cor1{
	background-color: #75a05e
}
.boxcon1.bc_cor2{
	background-color: #6c7bb4
}
.boxcon1.bc_cor3{
	background-color: #f6864c
}
.boxcon1.b_radu{
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 12px
}
.boxcon2.b_radu{
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 12px
}
.modesnsfb, .modesnstw, .modesnsks{
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999em;
	background-repeat: no-repeat;
	background-size: cover;
}
.modesnsfb{
	background-image: url(../images/app/bt_facebook.png)
}
.modesnstw{
	background-image: url(../images/app/bt_twitter.png)
}
.modesnsks{
	background-image: url(../images/app/bt_kakao.png)
}
@media all and (min-width:768px){
	.bdbtm_none_tablet{
		border-bottom: none !important
	}
}
@media all and (min-width:1178px){
	.onlymobile{
		display: none !important
	}
	.onlydesk,
	.dbr{
		display: block !important
	}
	.onlydesk_dib{
		display: inline-block !important
	}
	.wdib{
		display: inline-block
	}
	colgroup col.onlydesk_td{
		display: table-column;
	}
	.onlydesk_td{
		display: table-cell
	}
	.mbr{
		display: inline
	}
	.fsd16{
		font-size: 1rem
	}
	.fsd20{
		font-size: 1.25rem
	}
	.fsd22{
		font-size: 1.375rem
	}
	.ta_center_onlymobile{
		text-align: left
	}
	.btn_wrap .left,
	.btn_wrap .right{
		margin-bottom: 0
	}
	.btn_wrap .cen_rig{
		float: right;
		text-align: right
	}
	.btn_wrap .cen_rig .isico{
		text-indent: 9999em
	}
	.btn01{
		min-height: 49px;
		padding: 10px 36px;
		border-radius: 25px;
		font-size: 1.125rem
	}
	.btn02{
		min-height: 45px;
		padding: 8px 22px;
		border-radius: 25px;
		font-size: 1.125rem
	}
	.btn03{
		min-width: 120px;
		min-height: 45px;
		padding: 8px 22px;
		border-radius: 25px;
		font-size: 1.125rem
	}
	.btn04{
		width: 100%;
		min-height: 40px;
		padding: 11px 18px;
		font-size: 1rem
	}
	.btn05{
		min-width: 120px;
		min-height: 40px;
		padding: 9px 32px;
		border-radius: 20px;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.1
	}
	.btn07{
		width: 100px;
		min-height: 32px;
		padding: 6px 20px;
		font-size: 1rem
	}
	.btn08{
		min-height: 40px;
		padding: 11px 18px;
		font-size: 1rem
	}
	.btn_controls{
		width: 33px;
		height: 33px
	}
	.bdbtm_none_desk{
		border-bottom: none !important
	}
	/* width */
	.mgt_mode5{
		margin-top: 10px
	}
	.mgt_mode10{
		margin-top: 20px
	}
	.mgt_mode15{
		margin-top: 30px
	}
	.mgt_mode20{
		margin-top: 40px
	}
	.mgt_mode25{
		margin-top: 50px
	}
	.mgt_mode30{
		margin-top: 60px
	}
	.mgt_mode35{
		margin-top: 70px !important
	}
	.mgb_mode10{
		margin-bottom: 20px
	}
	.mgb_mode15{
		margin-bottom: 30px
	}
	.mgb_mode20{
		margin-bottom: 40px
	}
	.mgb_mode25{
		margin-bottom: 50px
	}
	.mgb_mode30{
		margin-bottom: 60px
	}
	.mgr_mode10{
		margin-right: 20px
	}
	.roundspace1{
		width: 138px;
		height: 138px
	}
	.roundbox1{
		width: 176px;
		height: 176px
	}
	/* 유동적인 구조 형태 */
	.flex_group{
		margin-left:10px;
		vertical-align:top;
	}
	.flex_group.pc_mglnone{
		margin-left: 0
	}
	.flex_group > [class*="cl"]{
		padding:0 5px !important;
	}
	/* form */
	.input_wrtwrap input[type='text'],
	.input_wrtwrap input[type='password'],
	.input_wrtwrap input[type='tel'],
	.input_wrtwrap input[type='num'],
	.input_wrtwrap input[type='date']{
		font-size: 1rem;
		height: 40px;
		line-height: 40px;
		padding: 0 18px
	}
	.seltype1,
	.seltype2{
		height: 40px;
		padding: 0 15px;
		font-size: 1rem;
		line-height: 40px
	}
	.upfile_button label{
		padding: 8px 40px;
		font-size: 1rem
	}
	.upfile_button label > span + span{
		margin-left: 8px
	}
	.btnmore1{
		height: 43px;
		padding: 0 18px;
		font-size: 1rem;
		line-height: 43px
	}
	/* images */
	.isico,
	.isarea,
	.ispicto,
	.isrcon{
		background-size: auto
	}
	.isico{
		background-image: url('../images/common/is_ico.png')
	}
	.isico.isi_map{
		width: 56px;
		height: 44px;
		background-position: 0 0
	}
	.isico.isi_search{
		width: 21px;
		height: 21px;
		background-position: -58px 0
	}
	.isico.isi_hprogram1{
		width: 27px;
		height: 26px;
		background-position: -81px 0
	}
	.isico.isi_hprogram2{
		width: 27px;
		height: 26px;
		background-position: -110px 0
	}
	.isico.isi_hprogram3{
		width: 27px;
		height: 26px;
		background-position: -139px 0
	}
	.isico.isi_download{
		width: 42px;
		height: 25px;
		background-position: -168px 0
	}
	.isico.isi_search2,
	.isico.isi_search3{
		width: 19px;
		height: 19px;
		background-position: -282px 0
	}
	.isico.isi_search4{
		width: 21px;
		height: 21px;
		background-position: -365px 0
	}
	.isico.isi_download{
		width: 18px;
		height: 17px;
		background-position: -303px 0
	}
	.isico.isi_list{
		width: 15px;
		height: 16px;
		background-position: -323px 0
	}
	.isico.isi_close{
		width: 23px;
		height: 23px;
		background-position: -340px 0
	}
	.isico.isi_fb{
		width: 34px;
		height: 34px;
		background-position: -388px 0
	}
	.isico.isi_tw{
		width: 34px;
		height: 34px;
		background-position: -424px 0
	}
	.isico.isi_ks{
		width: 34px;
		height: 34px;
		background-position: -460px 0
	}
	.isico.isi_share{
		width: 32px;
		height: 27px;
		background-position: -496px 0
	}
	.isico.isi_likeit{
		width: 30px;
		height: 26px;
		background-position: -530px 0
	}
	.isico.isi_reply{
		width: 31px;
		height: 26px;
		background-position: -562px 0
	}
	.isico.isi_reply2{
		width: 24px;
		height: 16px;
		background-position: -595px 0
	}
	.isarea{
		width: 198px;
		height: 156px
	}
	.isarea.isa01{
		background-position: 0 0
	}
	.isarea.isa02{
		background-position: -200px 0
	}
	.isarea.isa03{
		background-position: -400px 0
	}
	.isarea.isa04{
		background-position: 0 -158px
	}
	.isarea.isa05{
		background-position: -200px -158px
	}
	.isarea.isa06{
		background-position: -400px -158px
	}
	.isarea.isa07{
		background-position: 0 -316px
	}
	.isarea.isa08{
		background-position: -200px -316px
	}
	.isarea.isa09{
		background-position: -400px -316px
	}
	.isarea.isa10{
		background-position: 0 -474px
	}
	.isarea.isa11{
		background-position: -200px -474px
	}
	.isarea.isa12{
		background-position: -400px -474px
	}
	.isarea.isa13{
		background-position: 0 -632px
	}
	.isarea.isa14{
		background-position: -200px -632px
	}
	.isarea.isa15{
		background-position: -400px -632px
	}
	.isarea.isa16{
		background-position: 0 -790px
	}
	.isarea.isa17{
		background-position: -200px -790px
	}
	.isarea.isa18{
		background-position: -400px -790px
	}
	.isarea.isa19{
		background-position: 0 -946px
	}
	.isarea.isa20{
		background-position: -200px -946px
	}
	.isarea.isa21{
		background-position: -400px -946px
	}
	.isarea.isa22{
		background-position: 0 -1106px
	}
	.ispicto.isp_hdset{
		width: 78px;
		height: 74px;
		background-position: 0 0
	}
	.ispicto.isp_naro01{
		width: 100px;
		height: 106px;
		background-position: -80px 0
	}
	.ispicto.isp_naro02{
		width: 109px;
		height: 106px;
		background-position: -182px 0
	}
	.ispicto.isp_naro03{
		width: 87px;
		height: 106px;
		background-position: -294px 0
	}
	.ispicto.isp_naro04{
		width: 85px;
		height: 106px;
		background-position: -384px 0
	}
	.ispicto.isp_naro05{
		width: 83px;
		height: 106px;
		background-position: -472px 0
	}
	.ispicto.isp_naro06{
		width: 99px;
		height: 106px;
		background-position: -558px 0
	}
	.isrcon{
		background-image: url('../images/common/is_rcon.png')
	}
	.isrcon.isreport1{
		width: 87px;
		height: 77px;
		background-position: 0 0
	}
	.isrcon.isreport2{
		width: 82px;
		height: 92px;
		background-position: -89px  0
	}
	.isrcon.isreport3{
		width: 62px;
		height: 85px;
		background-position: -173px 0
	}
	.isrcon.isreport4{
		width: 86px;
		height: 85px;
		background-position: -237px 0
	}
	.isrcon.isreport5{
		width: 75px;
		height: 83px;
		background-position: -325px 0
	}
	.isrcon.isreport6{
		width: 81px;
		height: 79 px;
		background-position: -402px 0
	}
	.boxcon1,
	.boxcon2{
		font-size: 1rem
	}
}
.btn_wrap:after{
	content: '';
	display: block;
	float: none;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden
}

/* nanoscoller */
.nano{position:relative;width:100%;height:100%;overflow:hidden;}
.nano .nano-content{position:absolute;overflow:scroll;overflow-x:hidden;top:0;right:0;bottom:0;left:0;}
.nano>.nano-content:focus{outline:none;}
.nano>.nano-content::-webkit-scrollbar{display: none;}
.has-scrollbar > .nano-content::-webkit-scrollbar{display: block;}
.nano .nano-pane{width:7px;margin:0;background-color:transparent;position:absolute;top:0;right:0;bottom:0;visibility:hidden\9;/*TargetonlyIE7andIE8withthishack*/opacity:.01;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden;}
.nano > .nano-pane > .nano-slider{background:#c1c1c1;position:relative;width:7px;margin:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed{visibility:visible\9;/*TargetonlyIE7andIE8withthishack*/opacity:0.99;}
.ui-autocomplete{opacity:0;width:0;height:0;z-index:-99999 !important;}