.apbg1 {
  background-color: #edeff2;
}

.ap_ntxt1 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_ntxt2 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #383f4f;
}

.ap_ntxt3 {
  margin-bottom: 15px;
  font-size: 0.75rem;
  color: #222;
}

.ap_ntxt4 {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_under1 {
  color: #de3030;
  text-decoration: underline;
}

.aplv_tit4 {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;
}

.aplv_tit5 {
  margin: 30px 0 22px;
  padding: 10px 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;
  border-top: 1px solid #383f4f;
  border-bottom: 1px solid #383f4f;
}

.aplv_intxt {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  font-weight: 400;
}

.lvfc1 {
  color: #f6864c;
}

.lvfc2 {
  color: #222;
}

.lvfs12,
.lvfsm12 {
  font-size: 0.75rem;
}

@media all and (min-width: 1178px) {
  .ap_ntxt1,
.ap_ntxt2 {
    font-size: 1.125rem;
  }

  .ap_ntxt3,
.ap_ntxt4,
.lvfsm12 {
    font-size: 1rem;
  }

  .aplv_tit4 {
    font-size: 1.5rem;
  }

  .aplv_intxt {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1rem;
  }
}
.ap_ftc1 {
  font-size: 0.875rem;
  color: #f6864c;
}
@media all and (min-width: 1178px) {
  .ap_ftc1 {
    font-size: 1rem;
  }
}

.flex_wid1,
.flex_wid2 {
  flex: 0 0 100%;
}

.mdmgt1,
.mdmgt2 {
  margin-top: 5px;
}

@media all and (min-width: 1178px) {
  .flex_wid1 {
    flex-basis: auto;
  }

  .mdmgt1 {
    margin-top: 0;
    margin-left: 15px;
  }

  .mdmgt2 {
    margin-top: 0;
    margin-left: 8px;
  }
}
.appl_box {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #383f4f;
  box-sizing: border-box;
}
.appl_box.type2 {
  background-color: #f0f2f5;
  border-bottom-color: #dfe1e5;
}
.appl_box .aplv_txtfield {
  border: none;
}
.appl_box .flwid100 {
  flex-basis: 100%;
}

.appl_box2 {
  position: relative;
}

.appl_dl {
  display: flex;
  flex: 0 0 100%;
  border-bottom: 1px solid #e5e6eb;
}
.appl_dl > dt, .appl_dl > dd {
  min-height: 42px;
  font-size: 0.813rem;
  color: #222;
  box-sizing: border-box;
}
@media all and (min-width: 1178px) {
  .appl_dl > dt, .appl_dl > dd {
    min-height: 64px;
    font-size: 1rem;
  }
}
.appl_dl > dt {
  flex: 0 0 110px;
  padding: 10px 5px 0 8px;
  color: #222;
  font-weight: 600;
}
@media all and (min-width: 1178px) {
  .appl_dl > dt {
    flex-basis: 172px;
    padding: 18px 5px 0 30px;
    font-size: 1rem;
  }
}
.appl_dl > dd {
  display: flex;
  align-items: center;
  align-self: center;
  flex: 0 0 calc(100% - 110px);
  flex-wrap: wrap;
  padding: 5px;
}
@media all and (min-width: 1178px) {
  .appl_dl > dd {
    flex-basis: calc(100% - 172px);
    padding: 10px 5px;
  }
}
.appl_dl .radio + label {
  margin-left: 4px;
}
@media all and (min-width: 1178px) {
  .appl_dl {
    flex: 0 0 33.3333333333%;
  }
  .appl_dl > dd {
    padding-right: 20px;
  }
  .appl_dl.type2 {
    flex: 0 0 100%;
  }
  .appl_dl.type3 {
    flex: 0 0 66.6666666667%;
  }
}

.appl_dl2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px 0;
  font-size: 0.875rem;
  color: #222;
  border: 1px solid #d2d3d9;
}
.appl_dl2.bg2 {
  background-color: #edeff2;
}
.appl_dl2 > dt {
  position: relative;
  flex: 0 0 79px;
  align-self: flex-start;
  margin-top: 6px;
  color: #222;
  text-align: center;
  border-right: 2px dotted #d2d3d9;
}
.appl_dl2 > dd {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.appl_dl2 > dd .input_wrtwrap {
  flex-basis: 100%;
}
.appl_dl2 > dd .input_wrtwrap + .input_wrtwrap {
  margin-top: 5px;
}
.appl_dl2 .type2 {
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
}
.appl_dl2 .type2 .size_l {
  flex: 2;
}
.appl_dl2 .type2 .size_r {
  flex: 0;
  margin-left: 10px;
}
@media all and (min-width: 1178px) {
  .appl_dl2 {
    padding: 12px 0;
  }
  .appl_dl2 > dt {
    align-self: center;
    margin-top: 0;
  }
  .appl_dl2 > dd {
    flex-wrap: nowrap;
    padding: 0 30px 0 17px;
  }
  .appl_dl2 > dd .input_wrtwrap {
    flex: 1 1 185px;
  }
  .appl_dl2 > dd .input_wrtwrap + .input_wrtwrap {
    margin: 0 0 0 30px;
  }
  .appl_dl2 .type2 .size_l {
    flex: 0 0 620px;
  }
}

.athtit1 {
  padding: 10px 5px 0 8px;
  color: #222;
  font-weight: 600;
  font-size: 0.813rem;
}
@media all and (min-width: 1178px) {
  .athtit1 {
    padding: 18px 5px 0 30px;
    font-size: 1rem;
  }
}

.ipt_attr {
  display: inline-block;
  vertical-align: middle;
  color: #f6864c;
  font-size: 0.875rem;
  margin-right: 3px;
}

.love_applywrap {
  word-break: keep-all;
  letter-spacing: -0.08rem;
  /* form */
}
.love_applywrap .input_wrtwrap {
  position: relative;
}
.love_applywrap .input_wrtwrap * {
  vertical-align: middle;
}
.love_applywrap .input_wrtwrap input[type=text],
.love_applywrap .input_wrtwrap input[type=password],
.love_applywrap .input_wrtwrap input[type=tel],
.love_applywrap .input_wrtwrap input[type=number],
.love_applywrap .input_wrtwrap input[type=date],
.love_applywrap .input_wrtwrap input[type=email] {
  font-size: 0.875rem;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border: none;
  box-sizing: border-box;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
  box-sizing: border-box;
}
.love_applywrap .input_wrtwrap input.inptype1 {
  border: 1px solid #d2d3d9;
}
.love_applywrap .input_wrtwrap input:disabled {
  color: #989aa2;
  background-color: #edeff2;
}
.love_applywrap .input_wrtwrap .wtxt1 {
  width: 60%;
}
.love_applywrap .input_wrtwrap .wtxt2 {
  width: 40%;
}
.love_applywrap .input_wrtwrap .wtxt100 {
  width: 100%;
}
@media all and (min-width: 1178px) {
  .love_applywrap .input_wrtwrap input[type=text],
.love_applywrap .input_wrtwrap input[type=password],
.love_applywrap .input_wrtwrap input[type=tel],
.love_applywrap .input_wrtwrap input[type=number],
.love_applywrap .input_wrtwrap input[type=date],
.love_applywrap .input_wrtwrap input[type=email] {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
  }
}
.love_applywrap .size_full,
.love_applywrap .size_full2 {
  width: 100%;
}
.love_applywrap .size_full.lastbtn1,
.love_applywrap .size_full2.lastbtn1 {
  padding-right: 40px;
}
@media all and (min-width: 1178px) {
  .love_applywrap .size_full2 {
    width: 50%;
  }
}
.love_applywrap .seltype1 {
  height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  line-height: 32px;
  border: 1px solid #d2d3d9;
  box-sizing: border-box;
  background: #fff;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
}
.love_applywrap .seltype2 {
  height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  line-height: 32px;
  border: 1px solid #d2d3d9;
  box-sizing: border-box;
  background-color: #fff;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
}
.love_applywrap .wtxt_mq1 {
  width: 70%;
}
.love_applywrap .wtxt_mq2,
.love_applywrap .wtxt_mq3,
.love_applywrap .wtxt_mq4,
.love_applywrap .wtxt_mq5,
.love_applywrap .wtxt_mq6 {
  width: 100%;
}
.love_applywrap .wtxt_mq7 {
  width: 50%;
}
.love_applywrap .ftxt_mq1 {
  flex: 1;
}
.love_applywrap .ftxt_mq2 {
  flex: 2;
}
.love_applywrap .ftxt_mq3 {
  flex: 3;
}
@media all and (min-width: 1178px) {
  .love_applywrap .seltype1,
.love_applywrap .seltype2 {
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 40px;
  }
  .love_applywrap .wtxt_mq1,
.love_applywrap .wtxt_mq2 {
    width: 23%;
  }
  .love_applywrap .wtxt_mq3 {
    width: 31%;
  }
  .love_applywrap .wtxt_mq4 {
    width: 18%;
  }
  .love_applywrap .wtxt_mq5 {
    width: 32%;
  }
  .love_applywrap .wtxt_mq6 {
    width: 50%;
  }
  .love_applywrap .wtxt_mq7 {
    width: 18%;
  }
  .love_applywrap .ftxt_mq1 {
    flex: 0 0 75px;
  }
  .love_applywrap .ftxt_mq2 {
    flex: 0 0 240px;
  }
}
.love_applywrap .ml5 {
  margin-left: 5px;
}
.love_applywrap .ml10 {
  margin-left: 10px;
}
.love_applywrap .ml35 {
  margin-left: 35px;
}
.love_applywrap .mr15 {
  margin-right: 15px;
}
.love_applywrap .mt5 {
  margin-top: 5px;
}
.love_applywrap .mt8 {
  margin-top: 8px;
}
.love_applywrap .mt10 {
  margin-top: 10px;
}
.love_applywrap .mb8 {
  margin-bottom: 8px;
}
.love_applywrap .mb10 {
  margin-bottom: 10px;
}
.love_applywrap .mod_mt5 {
  margin-top: 5px;
}
@media all and (min-width: 1178px) {
  .love_applywrap .mod_mt5 {
    margin-top: 0;
  }
}

.btn_upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.btn_upload + label {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #525a6c;
  background-image: url("../images/love/ico_upload.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px auto;
  cursor: pointer;
}
@media all and (min-width: 1178px) {
  .btn_upload + label {
    width: 40px;
    height: 40px;
    background-size: auto;
  }
}

.aplv_sect + .aplv_sect {
  margin-top: 35px;
}
@media all and (min-width: 1178px) {
  .aplv_sect + .aplv_sect {
    margin-top: 50px;
  }
}

.aplv_btnwrap {
  display: flex;
  align-items: center;
}
.aplv_btnwrap.right {
  justify-content: flex-end;
  flex-wrap: wrap;
}
.aplv_btnwrap.right button + button,
.aplv_btnwrap.right label + button {
  margin-left: 8px;
}
.aplv_btnwrap.right .stxt1 {
  text-align: right;
  font-size: 0.75rem;
}
@media all and (min-width: 1178px) {
  .aplv_btnwrap.right .stxt1 {
    font-size: 1rem;
  }
}
.aplv_btnwrap.right .stxt1 + .btn_aplv1 {
  margin-left: 15px;
}

.btn_aplv1 {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.btn_aplv1.bg1 {
  background-color: #525a6c;
  border: 1px solid #525a6c;
}
.btn_aplv1.bg2 {
  background-color: #f6864c;
  border: 1px solid #f6864c;
}
.btn_aplv1.bg3 {
  background-color: #fff;
  border: 1px solid #f6864c;
}
.btn_aplv1.bg3.on {
  background-color: #f6864c;
}
.btn_aplv1 > span {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .btn_aplv1 {
    width: 40px;
    height: 40px;
  }
}

.btn_aplv2 {
  display: inline-block;
  min-width: 80px;
  padding: 7px 30px;
  margin: 0 4px;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid #383f4f;
  background-color: #fff;
  color: #383f4f;
  border-radius: 20px;
}
.btn_aplv2.bg1 {
  background-color: #fff;
  border: 1px solid #f6864c;
  color: #f6864c;
}
.btn_aplv2.bg2 {
  background-color: #f6864c;
  border: 1px solid #f6864c;
  color: #fff;
}
.btn_aplv2.bg3 {
  background-color: #383f4f;
  border: 1px solid #383f4f;
  color: #fff;
}
@media all and (min-width: 1178px) {
  .btn_aplv2 {
    font-size: 1.125rem;
  }
}

.icaplv_plus {
  background: url("../images/love/ico_plus.png") no-repeat center;
}

.icaplv_check {
  background: url("../images/love/ico_check.png") no-repeat center;
}

.on .icaplv_check {
  background: url("../images/love/ico_check_on.png") no-repeat center;
}

.aplv_box2 {
  display: flex;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 0.75rem;
  border: 2px solid #e4e6ea;
}
.aplv_box2 .first {
  display: flex;
  flex: 0 0 70px;
  align-self: center;
  border-right: 2px dotted #d2d3d9;
}
.aplv_box2 .first .atten {
  flex: 1;
  text-align: center;
  color: #de3030;
  font-weight: 700;
}
.aplv_box2 .first .atten::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 2px;
  background: url("../images/love/ico_mark.png") no-repeat center;
  background-size: contain;
}
.aplv_box2 .atten_note {
  padding-left: 14px;
  color: #222;
  font-weight: 700;
}
@media all and (min-width: 1178px) {
  .aplv_box2 {
    border-width: 3px;
    font-size: 1rem;
  }
  .aplv_box2 .first {
    flex-basis: 90px;
  }
  .aplv_box2 .first .atten::before {
    width: 27px;
    height: 27px;
  }
  .aplv_box2 .atten_note {
    padding-left: 22px;
  }
}

.aplv_txtfield {
  padding: 10px;
  background-color: #f0f2f5;
  border: 1px solid #d2d3d9;
}
.aplv_txtfield .apl_textarea {
  background-color: #fff;
  border: 1px solid #d2d3d9;
}
.aplv_txtfield .apl_textarea textarea {
  width: calc(100% - 16px);
  height: 55px;
  padding: 8px;
  border: none;
  color: #222;
  transition: 0.3s linear;
  overflow: hidden;
  overflow-y: auto;
}
.aplv_txtfield .apl_textarea .btn_txt_expend {
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.aplv_txtfield .apl_textarea .btn_txt_expend span {
  display: block;
  width: 18px;
  height: 11px;
  margin: auto;
  text-indent: -9999rem;
  font-size: 1px;
  color: transparent;
  background: url("../images/love/ico_arr.png") no-repeat;
  background-size: contain;
  transition: 0.3s linear;
}
.aplv_txtfield .apl_textarea.expend textarea {
  height: 250px;
}
.aplv_txtfield .apl_textarea.expend .btn_txt_expend span {
  transform: rotate(180deg);
}
@media all and (min-width: 1178px) {
  .aplv_txtfield {
    padding: 31px 31px 32px;
  }
  .aplv_txtfield.type2 {
    padding-top: 10px;
  }
  .aplv_txtfield .apl_textarea textarea {
    width: calc(100% - 32px);
    height: 60px;
    padding: 16px;
  }
  .aplv_txtfield .apl_textarea .btn_txt_expend {
    height: 27px;
  }
}

.aplv_argwrap {
  margin-top: 15px;
  font-size: 0.875rem;
  color: #222;
}
.aplv_argwrap .argchk {
  margin-top: 5px;
}
.aplv_argwrap.type2 {
  display: flex;
  flex-wrap: wrap;
  color: #666;
}
.aplv_argwrap.type2 .argtxt {
  flex: 0 0 100%;
}
.aplv_argwrap.type2 .argchk {
  flex: 0 0 100%;
  text-align: right;
}
@media all and (min-width: 1178px) {
  .aplv_argwrap {
    display: flex;
    font-size: 1rem;
  }
  .aplv_argwrap .argchk {
    margin: 0 0 0 22px;
  }
  .aplv_argwrap.type2 .argchk {
    margin-left: 0px;
  }
}

.appl_box3 {
  padding: 15px;
  background-color: #f0f2f5;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #e5e6eb;
}
@media all and (min-width: 1178px) {
  .appl_box3 {
    padding: 15px 30px 30px;
  }
}

.ta_01 table {
  width: 100%;
  border-top: 1px solid #b7bec4;
  background-color: #fff;
}
.ta_01 table thead th {
  background-color: #dfe1e5;
  font-weight: 700;
  color: #222;
  text-align: center;
}
.ta_01 table tbody th,
.ta_01 table tbody td {
  color: #666;
}
.ta_01 table th,
.ta_01 table td {
  padding: 8px 5px;
  font-size: 0.75rem;
  border-left: 1px solid #b7bec4;
  border-bottom: 1px solid #b7bec4;
  word-break: break-all;
}
.ta_01 table thead tr th:first-child,
.ta_01 table tbody tr th:first-child,
.ta_01 table tbody tr td:first-child,
.ta_01 table tfoot tr th:first-child,
.ta_01 table tfoot tr td:first-child {
  border-left: none;
}
.ta_01 table thead tr th.line_on,
.ta_01 table tbody tr th.line_on,
.ta_01 table tbody tr td.line_on {
  border-left: 1px solid #b7bec4;
}
.ta_01 table .tx {
  text-align: left;
}
.ta_01 table .nm {
  text-align: center;
}
.ta_01 table .my {
  text-align: right;
}
.ta_01 table .mq_colgroup_none,
.ta_01 table .mq_mb_none {
  display: none;
}
@media all and (min-width: 1178px) {
  .ta_01 table th,
.ta_01 table td {
    font-size: 1rem;
  }
  .ta_01 table .mq_colgroup_none {
    display: table-column-group;
  }
  .ta_01 table .mq_mb_none {
    display: table-cell;
  }
}

.aplv_btmtxt {
  margin-top: 30px;
  color: #222;
  text-align: center;
}
.aplv_btmtxt p + p {
  margin-top: 10px;
}

.aplv_btm_btnwrap {
  margin-top: 25px;
}
.aplv_btm_btnwrap.center {
  text-align: center;
}

.aplv_popwrap {
  position: relative;
  background-color: #fff;
}
.aplv_popwrap.widtype1 {
  width: 80%;
  max-width: 545px;
}
.aplv_popwrap .lvpop_colse {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: 10px;
  right: 10px;
}
.aplv_popwrap .lvpop_colse span {
  display: block;
  width: 26px;
  height: 26px;
  margin: auto;
  background: url("../images/love/ico_close.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
}

.lvpop_contents {
  padding: 25px 25px 40px;
}
.lvpop_contents.p_lvcenter {
  text-align: center;
}
.lvpop_contents .lvpop_note {
  margin-bottom: 20px;
  color: #222;
  font-weight: 700;
}
.lvpop_contents .lvpop_note::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto 15px;
  background-image: url("../images/love/ico_mark2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.lvpop_contents .lvpop_note.org::before {
  width: 36px;
  height: 28px;
  background-image: url("../images/love/ico_org.png");
}
@media all and (min-width: 1178px) {
  .lvpop_contents .lvpop_note {
    font-size: 1.25rem;
  }
  .lvpop_contents .lvpop_note::before {
    width: 54px;
    height: 54px;
  }
  .lvpop_contents .lvpop_note.org::before {
    width: 56px;
    height: 43px;
  }
}

.pwd_inp {
  display: flex;
  justify-content: center;
}
.pwd_inp .item {
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.pwd_inp .item input {
  width: 40px;
  height: 40px;
  border: 1px solid #d2d3d9;
  font-size: 1.25rem;
  font-weight: 700;
  color: #222;
  text-align: center;
}

.lv_search {
  display: flex;
  flex-wrap: wrap;
}
.lv_search .ap_ntxt2 {
  flex: 0 100%;
}
.lv_search .ap_searchfrm {
  flex: 0 160px;
  margin-bottom: 15px;
}
@media all and (min-width: 1178px) {
  .lv_search {
    flex-wrap: nowrap;
  }
  .lv_search .ap_ntxt2 {
    flex: 1 auto;
  }
  .lv_search .ap_searchfrm {
    margin-bottom: 0;
  }
}

.lvpop_srchwrap {
  position: relative;
  width: 90%;
  max-width: 360px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #383f4f;
  background-color: #fff;
  overflow: hidden;
}
.lvpop_srchwrap input[type=text] {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 36px 0 6px;
  border: none;
}
.lvpop_srchwrap .btn_srch {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-color: #383f4f;
  overflow: hidden;
  z-index: 2;
}
.lvpop_srchwrap .btn_srch span {
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  background: url("../images/love/ico_search2.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .lvpop_srchwrap {
    height: 40px;
  }
  .lvpop_srchwrap input[type=text] {
    height: 40px;
    line-height: 38px;
    padding: 0 50px 0 10px;
  }
  .lvpop_srchwrap .btn_srch {
    width: 40px;
    height: 40px;
  }
  .lvpop_srchwrap .btn_srch span {
    width: 17px;
    height: 17px;
  }
}

.ap_searchfrm {
  position: relative;
  height: 28px;
  border: 1px solid #383f4f;
  border-radius: 12px;
}
.ap_searchfrm .srcfrm {
  width: 100%;
  height: 28px;
  padding: 0 34px 0 16px;
  line-height: 28px;
  color: #222;
  border: none;
  background-color: transparent;
}
.ap_searchfrm .srcfrm_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 28px;
  overflow: hidden;
}
.ap_searchfrm .srcfrm_btn span {
  display: block;
  margin: auto auto auto 6px;
  background: url("../images/love/ico_search.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
  width: 13px;
  height: 13px;
}