.apbg1 {
  background-color: #edeff2;
}

.ap_ntxt1 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_ntxt2 {
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #383f4f;
}

.ap_ntxt3 {
  margin-bottom: 15px;
  font-size: 0.75rem;
  color: #222;
}

.ap_ntxt4 {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #f6864c;
}

.ap_under1 {
  color: #de3030;
  text-decoration: underline;
}

.aplv_tit4 {
  margin-bottom: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;
}
.aplv_tit4 .tit_btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 0.875rem;
  padding: 2px 8px;
  color: #383f4f;
  border: 1px solid #d2d3d9;
  border-radius: 2px;
}

.aplv_tit5 {
  margin: 30px 0 22px;
  padding: 10px 0;
  font-size: 1.125rem;
  font-weight: 700;
  color: #383f4f;
  border-top: 1px solid #383f4f;
  border-bottom: 1px solid #383f4f;
}

.aplv_intxt {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  font-weight: 400;
}

.lvfc1 {
  color: #f6864c;
}

.lvfc2 {
  color: #222;
}

.lvfs12,
.lvfsm12 {
  font-size: 0.75rem;
}

@media all and (min-width: 1178px) {
  .ap_ntxt1,
.ap_ntxt2 {
    font-size: 1.125rem;
  }
  .ap_ntxt3,
.ap_ntxt4,
.lvfsm12 {
    font-size: 1rem;
  }
  .aplv_tit4 {
    font-size: 1.5rem;
  }
  .aplv_intxt {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1rem;
  }
}
.ap_ftc1 {
  font-size: 0.875rem;
  color: #f6864c;
}
@media all and (min-width: 1178px) {
  .ap_ftc1 {
    font-size: 1rem;
  }
}

.flex_wid1,
.flex_wid2 {
  flex: 0 0 100%;
}

.mdmgt1,
.mdmgt2 {
  margin-top: 5px;
}

@media all and (min-width: 1178px) {
  .flex_wid1 {
    flex-basis: auto;
  }
  .mdmgt1 {
    margin-top: 0;
    margin-left: 15px;
  }
  .mdmgt2 {
    margin-top: 0;
    margin-left: 8px;
  }
}
.appl_box {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #383f4f;
  box-sizing: border-box;
}
.appl_box.type2 {
  background-color: #f0f2f5;
  border-bottom-color: #dfe1e5;
}
.appl_box.type3 {
  background-color: #edeff2;
  border: 1px solid #d2d3d9;
}
.appl_box .aplv_txtfield {
  border: none;
}
.appl_box .flwid100 {
  flex-basis: 100%;
}

.appl_box2 {
  position: relative;
}

.appl_dl {
  display: flex;
  flex: 0 0 100%;
  border-bottom: 1px solid #e5e6eb;
}
.appl_dl > dt, .appl_dl > dd {
  min-height: 42px;
  font-size: 0.813rem;
  color: #222;
  box-sizing: border-box;
}
@media all and (min-width: 1178px) {
  .appl_dl > dt, .appl_dl > dd {
    min-height: 64px;
    font-size: 1rem;
  }
}
.appl_dl > dt {
  flex: 0 0 110px;
  padding: 10px 5px 0 8px;
  color: #222;
  font-weight: 600;
}
@media all and (min-width: 1178px) {
  .appl_dl > dt {
    flex-basis: 172px;
    padding: 18px 5px 0 30px;
    font-size: 1rem;
  }
}
.appl_dl > dd {
  display: flex;
  align-items: center;
  align-self: center;
  flex: 0 0 calc(100% - 110px);
  flex-wrap: wrap;
  padding: 5px;
}
@media all and (min-width: 1178px) {
  .appl_dl > dd {
    flex-basis: calc(100% - 172px);
    padding: 10px 5px;
  }
}
.appl_dl .radio + label {
  margin-left: 4px;
}
@media all and (min-width: 1178px) {
  .appl_dl.mode2 > dt {
    flex-basis: 108px;
  }
  .appl_dl.mode2 > dd {
    flex-basis: calc(100% - 108px);
  }
}
@media all and (min-width: 1178px) {
  .appl_dl {
    flex: 0 0 33.3333333333%;
  }
  .appl_dl > dd {
    padding-right: 20px;
  }
  .appl_dl.type2 {
    flex: 0 0 100%;
  }
  .appl_dl.type3 {
    flex: 0 0 66.6666666667%;
  }
  .appl_dl.type4 {
    flex: 0 0 50%;
  }
}

.appl_dl2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px 0;
  font-size: 0.875rem;
  color: #222;
  border: 1px solid #d2d3d9;
}
.appl_dl2.bg2 {
  background-color: #edeff2;
}
.appl_dl2 > dt {
  position: relative;
  flex: 0 0 79px;
  align-self: flex-start;
  margin-top: 6px;
  color: #222;
  text-align: center;
  border-right: 2px dotted #d2d3d9;
}
.appl_dl2 > dd {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.appl_dl2 > dd .input_wrtwrap {
  flex-basis: 100%;
}
.appl_dl2 > dd .input_wrtwrap + .input_wrtwrap {
  margin-top: 5px;
}
.appl_dl2 .type2 {
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
}
.appl_dl2 .type2 .size_l {
  flex: 2;
}
.appl_dl2 .type2 .size_r {
  flex: 0;
  margin-left: 10px;
}
@media all and (min-width: 1178px) {
  .appl_dl2 {
    padding: 12px 0;
  }
  .appl_dl2 > dt {
    align-self: center;
    margin-top: 0;
  }
  .appl_dl2 > dd {
    flex-wrap: nowrap;
    padding: 0 30px 0 17px;
  }
  .appl_dl2 > dd .input_wrtwrap {
    flex: 1 1 185px;
  }
  .appl_dl2 > dd .input_wrtwrap + .input_wrtwrap {
    margin: 0 0 0 30px;
  }
  .appl_dl2 .type2 .size_l {
    flex: 0 0 620px;
  }
}

.appl_ul {
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 8px;
  border: 1px solid #d2d3d9;
  background-color: #fff;
  color: #222;
  font-size: 0.75rem;
}
.appl_ul.type2 {
  background-color: #e5e7eb;
}
.appl_ul > li {
  flex: 1 20%;
  border-right: 2px dotted #d2d3d9;
  padding: 0 15px;
}
.appl_ul > li.title {
  flex: 3 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.appl_ul > li.name, .appl_ul > li.status {
  border-right: none;
}
.appl_ul > li.name {
  flex: 1 10%;
}
.appl_ul > li.status {
  flex: 1 25%;
  padding-left: 0;
  text-align: right;
}
.appl_ul > li.status .completed {
  position: relative;
  color: #747578;
  font-size: 0.688rem;
  padding-left: 10px;
}
.appl_ul > li.status .completed::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 5px;
  left: 0;
  top: 50%;
  transform: translateX(-50%);
  background: url("../images/love/check.png") no-repeat;
  background-size: contain;
}
@media all and (min-width: 1178px) {
  .appl_ul > li.status .completed {
    font-size: 1rem;
    padding-left: 18px;
  }
  .appl_ul > li.status .completed::before {
    width: 14px;
    height: 10px;
  }
  .appl_ul > li.status .lv_btnset {
    margin-top: 4px;
  }
}
.appl_ul > li:last-of-type {
  border-right: none;
}
@media all and (min-width: 1178px) {
  .appl_ul {
    padding: 12px 0;
    min-height: 50px;
    font-size: 1rem;
  }
  .appl_ul > li {
    padding: 0 30px;
  }
  .appl_ul > li.date {
    flex-basis: 70px;
  }
  .appl_ul > li.title {
    flex-basis: 435px;
  }
  .appl_ul > li.name {
    flex: 1 10%;
  }
}

.lv_btnset {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #f6864c;
  overflow: hidden;
}
.lv_btnset span {
  display: block;
  margin: 5px auto;
  width: 15px;
  height: 15px;
  background: url("../images/love/ico_set.png") no-repeat center;
  background-size: contain;
  color: transparent;
  font-size: 1px;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .lv_btnset {
    width: 40px;
    height: 40px;
  }
  .lv_btnset span {
    margin: 8px auto;
    width: 22px;
    height: 23px;
  }
}

.athtit1 {
  padding: 10px 5px 0 8px;
  color: #222;
  font-weight: 600;
  font-size: 0.813rem;
}
@media all and (min-width: 1178px) {
  .athtit1 {
    padding: 18px 5px 0 30px;
    font-size: 1rem;
  }
}

.ipt_attr {
  display: inline-block;
  vertical-align: middle;
  color: #f6864c;
  font-size: 0.875rem;
  margin-right: 3px;
}

.love_applywrap {
  word-break: keep-all;
  letter-spacing: -0.08rem;
  /* form */
}
.love_applywrap .input_wrtwrap {
  position: relative;
}
.love_applywrap .input_wrtwrap * {
  vertical-align: middle;
}
.love_applywrap .input_wrtwrap input[type=text],
.love_applywrap .input_wrtwrap input[type=password],
.love_applywrap .input_wrtwrap input[type=tel],
.love_applywrap .input_wrtwrap input[type=number],
.love_applywrap .input_wrtwrap input[type=date],
.love_applywrap .input_wrtwrap input[type=email] {
  font-size: 0.875rem;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border: none;
  box-sizing: border-box;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
  box-sizing: border-box;
}
.love_applywrap .input_wrtwrap input.inptype1 {
  border: 1px solid #d2d3d9;
}
.love_applywrap .input_wrtwrap input:disabled {
  color: #989aa2;
  background-color: #edeff2;
}
.love_applywrap .input_wrtwrap .wtxt1 {
  width: 60%;
}
.love_applywrap .input_wrtwrap .wtxt2 {
  width: 40%;
}
.love_applywrap .input_wrtwrap .wtxt100 {
  width: 100%;
}
@media all and (min-width: 1178px) {
  .love_applywrap .input_wrtwrap input[type=text],
.love_applywrap .input_wrtwrap input[type=password],
.love_applywrap .input_wrtwrap input[type=tel],
.love_applywrap .input_wrtwrap input[type=number],
.love_applywrap .input_wrtwrap input[type=date],
.love_applywrap .input_wrtwrap input[type=email] {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
  }
}
.love_applywrap .size_full,
.love_applywrap .size_full2 {
  width: 100%;
}
.love_applywrap .size_full.lastbtn1,
.love_applywrap .size_full2.lastbtn1 {
  padding-right: 40px;
}
@media all and (min-width: 1178px) {
  .love_applywrap .size_full2 {
    width: 50%;
  }
}
.love_applywrap .seltype1 {
  height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  line-height: 32px;
  border: 1px solid #d2d3d9;
  box-sizing: border-box;
  background: #fff;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
}
.love_applywrap .seltype2 {
  height: 32px;
  padding: 0 10px;
  font-size: 0.875rem;
  line-height: 32px;
  border: 1px solid #d2d3d9;
  box-sizing: border-box;
  background-color: #fff;
  transition: 0.5s ease 0s;
  -webkit-transition: 0.5s ease 0s;
}
.love_applywrap .wtxt_mq1 {
  width: 70%;
}
.love_applywrap .wtxt_mq2,
.love_applywrap .wtxt_mq3,
.love_applywrap .wtxt_mq4,
.love_applywrap .wtxt_mq5,
.love_applywrap .wtxt_mq6,
.love_applywrap .wtxt_mq8 {
  width: 100%;
}
.love_applywrap .wtxt_mq7 {
  width: 50%;
}
.love_applywrap .ftxt_mq1 {
  flex: 1;
}
.love_applywrap .ftxt_mq2 {
  flex: 2;
}
.love_applywrap .ftxt_mq3 {
  flex: 3;
}
.love_applywrap .flx_w100 {
  flex-basis: 100%;
}
@media all and (min-width: 1178px) {
  .love_applywrap .seltype1,
.love_applywrap .seltype2 {
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
    line-height: 40px;
  }
  .love_applywrap .wtxt_mq1,
.love_applywrap .wtxt_mq2 {
    width: 23%;
  }
  .love_applywrap .wtxt_mq3 {
    width: 31%;
  }
  .love_applywrap .wtxt_mq4 {
    width: 18%;
  }
  .love_applywrap .wtxt_mq5 {
    width: 32%;
  }
  .love_applywrap .wtxt_mq6 {
    width: 50%;
  }
  .love_applywrap .wtxt_mq7 {
    width: 18%;
  }
  .love_applywrap .wtxt_mq8 {
    width: 48%;
  }
  .love_applywrap .ftxt_mq1 {
    flex: 0 0 75px;
  }
  .love_applywrap .ftxt_mq2 {
    flex: 0 0 240px;
  }
}
.love_applywrap .ml5 {
  margin-left: 5px;
}
.love_applywrap .ml10 {
  margin-left: 10px;
}
.love_applywrap .ml35 {
  margin-left: 35px;
}
.love_applywrap .mr15 {
  margin-right: 15px;
}
.love_applywrap .mt5 {
  margin-top: 5px;
}
.love_applywrap .mt8 {
  margin-top: 8px;
}
.love_applywrap .mt10 {
  margin-top: 10px;
}
.love_applywrap .mb8 {
  margin-bottom: 8px;
}
.love_applywrap .mb10 {
  margin-bottom: 10px;
}
.love_applywrap .mod_mt5 {
  margin-top: 5px;
}
@media all and (min-width: 1178px) {
  .love_applywrap .mod_mt5 {
    margin-top: 0;
  }
}

.btn_upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.btn_upload + label {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #525a6c;
  background-image: url("../images/love/ico_upload.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px auto;
  cursor: pointer;
}
@media all and (min-width: 1178px) {
  .btn_upload + label {
    width: 40px;
    height: 40px;
    background-size: auto;
  }
}

.aplv_sect + .aplv_sect {
  margin-top: 35px;
}
@media all and (min-width: 1178px) {
  .aplv_sect + .aplv_sect {
    margin-top: 50px;
  }
}

.aplv_btnwrap {
  display: flex;
  align-items: center;
}
.aplv_btnwrap.right {
  justify-content: flex-end;
  flex-wrap: wrap;
}
.aplv_btnwrap.right button + button,
.aplv_btnwrap.right label + button {
  margin-left: 8px;
}
.aplv_btnwrap.right .stxt1 {
  text-align: right;
  font-size: 0.75rem;
}
@media all and (min-width: 1178px) {
  .aplv_btnwrap.right .stxt1 {
    font-size: 1rem;
  }
}
.aplv_btnwrap.right .stxt1 + .btn_aplv1 {
  margin-left: 15px;
}

.btn_aplv1 {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.btn_aplv1.bg1 {
  background-color: #525a6c;
  border: 1px solid #525a6c;
}
.btn_aplv1.bg2 {
  background-color: #f6864c;
  border: 1px solid #f6864c;
}
.btn_aplv1.bg3 {
  background-color: #fff;
  border: 1px solid #f6864c;
}
.btn_aplv1.bg3.on {
  background-color: #f6864c;
}
.btn_aplv1 > span {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .btn_aplv1 {
    width: 40px;
    height: 40px;
  }
}

.btn_aplv2 {
  display: inline-block;
  min-width: 80px;
  padding: 7px 30px;
  margin: 0 4px;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid #383f4f;
  background-color: #fff;
  color: #383f4f;
  border-radius: 20px;
}
.btn_aplv2.bg1 {
  background-color: #fff;
  border: 1px solid #f6864c;
  color: #f6864c;
}
.btn_aplv2.bg2 {
  background-color: #f6864c;
  border: 1px solid #f6864c;
  color: #fff;
}
.btn_aplv2.bg3 {
  background-color: #383f4f;
  border: 1px solid #383f4f;
  color: #fff;
}
.btn_aplv2.bg4 {
  background-color: #525a6c;
  border: 1px solid #525a6c;
  color: #fff;
}
@media all and (min-width: 1178px) {
  .btn_aplv2 {
    font-size: 1.125rem;
  }
}

.btn_aplv3 {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  font-size: 0.875rem;
}
.btn_aplv3 > span {
  display: inline-block;
}
.btn_aplv3.bg1 {
  color: #fff;
  background-color: #383f4f;
  border: 1px solid #383f4f;
}
@media all and (min-width: 1178px) {
  .btn_aplv3 {
    padding: 7px 18px;
    font-size: 1rem;
  }
}

.btn_aplv4 {
  display: inline-block;
  min-width: 80px;
  padding: 4px 15px;
  text-align: center;
  font-size: 0.875rem;
  border: 1px solid #383f4f;
  background-color: #fff;
  color: #383f4f;
  border-radius: 30px;
}
.btn_aplv4.bg1 {
  color: #fff;
  background-color: #383f4f;
  border: 1px solid #383f4f;
}
@media all and (min-width: 1178px) {
  .btn_aplv4 {
    padding: 7px 20px;
    font-size: 1.125rem;
  }
}

.icaplv_plus {
  background: url("../images/love/ico_plus.png") no-repeat center;
}

.icaplv_check {
  background: url("../images/love/ico_check.png") no-repeat center;
}

.on .icaplv_check {
  background: url("../images/love/ico_check_on.png") no-repeat center;
}

.aplv_box2 {
  display: flex;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 0.75rem;
  border: 2px solid #e4e6ea;
}
.aplv_box2 .first {
  display: flex;
  flex: 0 0 70px;
  align-self: center;
  border-right: 2px dotted #d2d3d9;
}
.aplv_box2 .first .atten {
  flex: 1;
  text-align: center;
  color: #de3030;
  font-weight: 700;
}
.aplv_box2 .first .atten::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto 2px;
  background: url("../images/love/ico_mark.png") no-repeat center;
  background-size: contain;
}
.aplv_box2 .atten_note {
  padding-left: 14px;
  color: #222;
  font-weight: 700;
}
@media all and (min-width: 1178px) {
  .aplv_box2 {
    border-width: 3px;
    font-size: 1rem;
  }
  .aplv_box2 .first {
    flex-basis: 90px;
  }
  .aplv_box2 .first .atten::before {
    width: 27px;
    height: 27px;
  }
  .aplv_box2 .atten_note {
    padding-left: 22px;
  }
}

.aplv_txtfield {
  padding: 10px;
  background-color: #f0f2f5;
  border: 1px solid #d2d3d9;
}
.aplv_txtfield .apl_textarea {
  position: relative;
  background-color: #fff;
  border: 1px solid #d2d3d9;
}
.aplv_txtfield .apl_textarea textarea {
  width: calc(100% - 16px);
  height: 55px;
  padding: 8px;
  border: none;
  color: #222;
  transition: 0.3s linear;
  overflow: hidden;
  overflow-y: auto;
}
.aplv_txtfield .apl_textarea .btn_txt_expend {
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.aplv_txtfield .apl_textarea .btn_txt_expend span {
  display: block;
  width: 18px;
  height: 11px;
  margin: auto;
  text-indent: -9999rem;
  font-size: 1px;
  color: transparent;
  background: url("../images/love/ico_arr.png") no-repeat;
  background-size: contain;
  transition: 0.3s linear;
}
.aplv_txtfield .apl_textarea.expend textarea {
  height: 250px;
}
.aplv_txtfield .apl_textarea.expend .btn_txt_expend span {
  transform: rotate(180deg);
}
.aplv_txtfield .text_byte {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.75rem;
  color: #989aa2;
}
.aplv_txtfield .text_byte span {
  color: #383f4f;
}
@media all and (min-width: 1178px) {
  .aplv_txtfield {
    padding: 31px 31px 32px;
  }
  .aplv_txtfield.type2 {
    padding-top: 10px;
  }
  .aplv_txtfield .apl_textarea textarea {
    width: calc(100% - 32px);
    height: 60px;
    padding: 16px;
  }
  .aplv_txtfield .apl_textarea .btn_txt_expend {
    height: 27px;
  }
  .aplv_txtfield .text_byte {
    right: 15px;
    bottom: 12px;
  }
}

.aplv_argwrap {
  margin-top: 15px;
  font-size: 0.875rem;
  color: #222;
}
.aplv_argwrap .argchk {
  margin-top: 5px;
}
.aplv_argwrap.type2 {
  display: flex;
  flex-wrap: wrap;
  color: #666;
}
.aplv_argwrap.type2 .argtxt {
  flex: 0 0 100%;
}
.aplv_argwrap.type2 .argchk {
  flex: 0 0 100%;
  text-align: right;
}
@media all and (min-width: 1178px) {
  .aplv_argwrap {
    display: flex;
    font-size: 1rem;
  }
  .aplv_argwrap .argchk {
    margin: 0 0 0 22px;
  }
  .aplv_argwrap.type2 .argchk {
    margin-left: 0px;
  }
}

.appl_box3 {
  padding: 15px;
  background-color: #f0f2f5;
  border-top: 2px solid #383f4f;
  border-bottom: 1px solid #e5e6eb;
}
@media all and (min-width: 1178px) {
  .appl_box3 {
    padding: 15px 30px 30px;
  }
}

.ta_01 table {
  width: 100%;
  border-top: 1px solid #b7bec4;
  background-color: #fff;
}
.ta_01 table thead th {
  background-color: #dfe1e5;
  font-weight: 700;
  color: #222;
  text-align: center;
}
.ta_01 table tbody th,
.ta_01 table tbody td {
  color: #666;
}
.ta_01 table th,
.ta_01 table td {
  padding: 8px 5px;
  font-size: 0.75rem;
  border-left: 1px solid #b7bec4;
  border-bottom: 1px solid #b7bec4;
  word-break: break-all;
}
.ta_01 table thead tr th:first-child,
.ta_01 table tbody tr th:first-child,
.ta_01 table tbody tr td:first-child,
.ta_01 table tfoot tr th:first-child,
.ta_01 table tfoot tr td:first-child {
  border-left: none;
}
.ta_01 table thead tr th.line_on,
.ta_01 table tbody tr th.line_on,
.ta_01 table tbody tr td.line_on {
  border-left: 1px solid #b7bec4;
}
.ta_01 table .tx {
  text-align: left;
}
.ta_01 table .nm {
  text-align: center;
}
.ta_01 table .my {
  text-align: right;
}
@media all and (min-width: 1178px) {
  .ta_01 table th,
.ta_01 table td {
    font-size: 1rem;
  }
}

.mq_colgroup_none,
.mq_mb_none {
  display: none;
}

@media all and (min-width: 1178px) {
  .mq_colgroup_none {
    display: table-column-group;
  }
  .mq_mb_none {
    display: table-cell;
  }
}
.aplv_btmtxt {
  margin-top: 30px;
  color: #222;
  text-align: center;
}
.aplv_btmtxt p + p {
  margin-top: 10px;
}

.aplv_btm_btnwrap {
  margin-top: 25px;
}
.aplv_btm_btnwrap.center {
  text-align: center;
}

.aplv_popwrap {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.32) 3px 0 10px;
}
.aplv_popwrap.widtype1 {
  width: 90%;
  max-width: 547px;
}
.aplv_popwrap.widtype2 {
  width: 90%;
  max-width: 617px;
}
.aplv_popwrap .lvpop_colse {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 10px;
  right: 10px;
}
.aplv_popwrap .lvpop_colse span {
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  background: url("../images/love/ico_close.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .aplv_popwrap .lvpop_colse {
    width: 50px;
    height: 50px;
  }
  .aplv_popwrap .lvpop_colse span {
    width: 26px;
    height: 26px;
  }
}

.lvpop_contents {
  padding: 25px 25px 40px;
}
.lvpop_contents.p_lvcenter {
  text-align: center;
}
.lvpop_contents .lvpop_note {
  margin-bottom: 20px;
  color: #222;
  font-weight: 700;
}
.lvpop_contents .lvpop_note::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto 15px;
  background-image: url("../images/love/ico_mark2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.lvpop_contents .lvpop_note.org::before {
  width: 36px;
  height: 28px;
  background-image: url("../images/love/ico_org.png");
}
.lvpop_contents .lvpop_note.bell::before {
  width: 30px;
  height: 33px;
  background-image: url("../images/love/ico_bell.png");
}
.lvpop_contents .mt15 {
  margin-top: 15px;
}
@media all and (min-width: 1178px) {
  .lvpop_contents .lvpop_note {
    font-size: 1.25rem;
  }
  .lvpop_contents .lvpop_note::before {
    width: 54px;
    height: 54px;
  }
  .lvpop_contents .lvpop_note.org::before {
    width: 56px;
    height: 43px;
  }
  .lvpop_contents .lvpop_note.bell::before {
    width: 47px;
    height: 52px;
  }
}

.pwd_inp {
  display: flex;
  justify-content: center;
}
.pwd_inp .item {
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.pwd_inp .item input {
  width: 40px;
  height: 40px;
  border: 1px solid #d2d3d9;
  font-size: 1.25rem;
  font-weight: 700;
  color: #222;
  text-align: center;
}

.lv_search {
  display: flex;
  flex-wrap: wrap;
}
.lv_search .ap_ntxt2 {
  flex: 0 100%;
}
.lv_search .ap_searchfrm {
  flex: 0 160px;
  margin-bottom: 15px;
}
@media all and (min-width: 1178px) {
  .lv_search {
    flex-wrap: nowrap;
  }
  .lv_search .ap_ntxt2 {
    flex: 1 auto;
  }
  .lv_search .ap_searchfrm {
    margin-bottom: 0;
  }
}

.lvpop_srchwrap {
  position: relative;
  width: 90%;
  max-width: 367px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #383f4f;
  background-color: #fff;
  overflow: hidden;
}
.lvpop_srchwrap input[type=text] {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 36px 0 6px;
  border: none;
}
.lvpop_srchwrap .btn_srch {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-color: #383f4f;
  overflow: hidden;
  z-index: 2;
}
.lvpop_srchwrap .btn_srch span {
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
  background: url("../images/love/ico_search2.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
}
@media all and (min-width: 1178px) {
  .lvpop_srchwrap {
    height: 40px;
  }
  .lvpop_srchwrap input[type=text] {
    height: 40px;
    line-height: 38px;
    padding: 0 50px 0 10px;
  }
  .lvpop_srchwrap .btn_srch {
    width: 40px;
    height: 40px;
  }
  .lvpop_srchwrap .btn_srch span {
    width: 17px;
    height: 17px;
  }
}

.ap_searchfrm {
  position: relative;
  height: 28px;
  border: 1px solid #383f4f;
  border-radius: 12px;
}
.ap_searchfrm .srcfrm {
  width: 100%;
  height: 28px;
  padding: 0 34px 0 16px;
  line-height: 28px;
  color: #222;
  border: none;
  background-color: transparent;
}
.ap_searchfrm .srcfrm_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 28px;
  overflow: hidden;
}
.ap_searchfrm .srcfrm_btn span {
  display: block;
  margin: auto auto auto 6px;
  background: url("../images/love/ico_search.png") no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
  width: 13px;
  height: 13px;
}

.ap_tbl1 {
  border-top: 1px solid #383f4f;
}
.ap_tbl1 table th,
.ap_tbl1 table td {
  border-bottom: 1px solid #d4d5da;
  padding: 12px 5px;
  font-size: 0.813rem;
  text-align: left;
  color: #222;
}
.ap_tbl1 table th.nm,
.ap_tbl1 table td.nm {
  text-align: center;
}
.ap_tbl1 table .orgname {
  display: block;
  position: relative;
  border-right: 1px dotted #d2d3d9;
}
@media all and (min-width: 1178px) {
  .ap_tbl1 table th,
.ap_tbl1 table td {
    font-size: 1rem;
  }
  .ap_tbl1 table .orgname {
    border-left-width: 2px;
  }
}

.lv_btr {
  display: inline-block;
  padding: 2px 8px;
  background-color: #f2f4f8;
  border: 1px solid #cacbce;
  border-radius: 20px;
  font-size: 0.75rem;
  color: #222;
}
@media all and (min-width: 1178px) {
  .lv_btr {
    padding: 4px 15px;
    font-size: 1rem;
  }
}

.lv_btr2 {
  display: inline-block;
  padding: 2px 10px;
  font-size: 0.75rem;
  color: #f6864c;
  border: 1px solid #f6864c;
  border-radius: 20px;
}
@media all and (min-width: 1178px) {
  .lv_btr2 {
    font-size: 1rem;
  }
}

.lv_ico {
  width: 40px;
  height: 41px;
  margin: 0 auto 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
.lv_ico.save {
  background-image: url("../images/love/ico_save.png");
}
.lv_ico.submit {
  background-image: url("../images/love/ico_submit.png");
}
.lv_ico.doc {
  background-image: url("../images/love/ico_doc.png");
}
.lv_ico.doccheck {
  background-image: url("../images/love/ico_doc_check.png");
}
@media all and (min-width: 1178px) {
  .lv_ico {
    width: 75px;
    height: 76px;
  }
}

.lv_alrment {
  text-align: center;
}
.lv_alrment .lv_hment1 {
  margin-bottom: 24px;
  color: #232937;
  font-size: 0.875rem;
  letter-spacing: -0.1em;
}
.lv_alrment .lv_hment1 .name {
  font-size: 1rem;
  font-weight: 700;
}
.lv_alrment .lv_hment1 strong {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}
@media all and (min-width: 1178px) {
  .lv_alrment .lv_hment1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  .lv_alrment .lv_hment1 .name {
    font-size: 1.875rem;
  }
  .lv_alrment .lv_hment1 strong {
    font-size: 2.5rem;
  }
}
.lv_alrment ul {
  margin-bottom: 20px;
}
.lv_alrment ul > li {
  font-size: 0.75rem;
  color: #f6864c;
}
@media all and (min-width: 1178px) {
  .lv_alrment ul {
    margin-bottom: 35px;
  }
  .lv_alrment ul > li {
    font-size: 1rem;
  }
}

.lv_ptxt {
  margin: 15px 0 25px;
  font-size: 0.75rem;
  color: #f6864c;
  text-align: center;
}
@media all and (min-width: 1178px) {
  .lv_ptxt {
    margin: 30px 0 40px;
    font-size: 1rem;
  }
}

.lv_stit3 {
  position: relative;
  margin-bottom: 15px;
  color: #232937;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
@media all and (min-width: 1178px) {
  .lv_stit3 {
    margin-bottom: 30px;
    font-size: 2.25rem;
  }
}

.lv_infob {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 5px 12px;
  background-color: #edeff2;
  border-radius: 1px;
}
.lv_infob p {
  flex: 0 100%;
  color: #222;
  font-size: 0.75rem;
}
.lv_infob .lv_btnr {
  flex: 0 100%;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .lv_infob {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .lv_infob p {
    flex: 2;
  }
  .lv_infob .lv_btnr {
    flex: 1;
    margin-top: 0;
    text-align: right;
  }
}
@media all and (min-width: 1178px) {
  .lv_infob {
    padding: 10px 25px;
  }
  .lv_infob p {
    font-size: 1rem;
  }
}

.lvlist_wrap {
  margin-top: 15px;
}
.lvlist_wrap .lvlbtn_wrap {
  text-align: right;
  margin-bottom: 8px;
}
.lvlist_wrap .lvlbtn_wrap .btn_gright {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #525a6c;
  text-align: center;
}
.lvlist_wrap .lvlbtn_wrap .btn_gright span {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1px;
  color: transparent;
  text-indent: -9999rem;
}
.lvlist_wrap .lvlbtn_wrap .btn_gright.type_list span {
  background-image: url("../images/love/ico_list.png");
}
.lvlist_wrap .lvlbtn_wrap .btn_gright.type_gallery span {
  background-image: url("../images/love/ico_gallery.png");
}

.lvapp_list {
  border-top: 1px solid #383f4f;
  border-bottom: 1px solid #383f4f;
}
.lvapp_list > li {
  border-top: 1px solid #e5e6eb;
}
.lvapp_list > li:first-of-type {
  border-top: none;
}
.lvapp_list .item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
@media all and (min-width: 1178px) {
  .lvapp_list .item {
    padding: 24px 23px;
  }
}
.lvapp_list.type_gallery {
  display: none;
}
.lvapp_list.type_gallery.active {
  display: block;
}
.lvapp_list.type_gallery .item .desc {
  flex: 0 calc(100% - 110px);
  padding-right: 15px;
  font-size: 0.75rem;
}
.lvapp_list.type_gallery .item .desc h4 {
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #222;
}
.lvapp_list.type_gallery .item .desc .txt {
  margin-bottom: 5px;
  word-break: keep-all;
  color: #444;
}
.lvapp_list.type_gallery .item .desc .date {
  color: #222;
}
.lvapp_list.type_gallery .item .desc .lvlist_btnwrap {
  margin-top: 10px;
}
.lvapp_list.type_gallery .item .thumb {
  position: relative;
  flex: 1 110px;
}
.lvapp_list.type_gallery .item .thumb .sticker {
  position: absolute;
  top: 0;
  right: 0;
}
.lvapp_list.type_gallery .item .thumb img {
  width: 100%;
}
@media all and (min-width: 768px) {
  .lvapp_list.type_gallery {
    display: none;
    flex-wrap: wrap;
  }
  .lvapp_list.type_gallery.active {
    display: flex;
  }
  .lvapp_list.type_gallery > li {
    position: relative;
    flex: 0 50%;
  }
  .lvapp_list.type_gallery > li:nth-of-type(even)::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    bottom: 15px;
    border-left: 1px dotted #666b78;
  }
}
@media all and (min-width: 1178px) {
  .lvapp_list.type_gallery > li:nth-of-type(even)::before {
    top: 24px;
    bottom: 24px;
  }
  .lvapp_list.type_gallery .item .desc {
    flex-basis: calc(100% - 220px);
    padding-right: 50px;
    font-size: 1rem;
  }
  .lvapp_list.type_gallery .item .desc h4 {
    margin-bottom: 10px;
    font-size: 1.125rem;
  }
  .lvapp_list.type_gallery .item .desc .txt {
    margin-bottom: 10px;
  }
  .lvapp_list.type_gallery .item .desc .lvlist_btnwrap {
    margin-top: 15px;
  }
  .lvapp_list.type_gallery .item .thumb {
    flex-basis: 220px;
  }
}
.lvapp_list .sticker {
  min-width: 55px;
  padding: 2px 4px;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
}
.lvapp_list .sticker.ing {
  color: #fff;
  background-color: #f6864c;
}
.lvapp_list .sticker.end {
  color: #525a6c;
  background-color: #c7ccd7;
}
@media all and (min-width: 1178px) {
  .lvapp_list .sticker {
    font-size: 1rem;
  }
}
.lvapp_list.type_list {
  display: none;
}
.lvapp_list.type_list.active {
  display: block;
}
.lvapp_list.type_list .desc {
  font-size: 0.75rem;
}
.lvapp_list.type_list .desc h4 {
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #222;
}
.lvapp_list.type_list .desc h4 .sticker {
  display: inline-block;
  margin-right: 5px;
}
.lvapp_list.type_list .desc .txt {
  margin-bottom: 5px;
  word-break: keep-all;
  color: #444;
}
.lvapp_list.type_list .desc .date {
  color: #222;
}
.lvapp_list.type_list .lvlist_btnwrap {
  margin-top: 15px;
}
@media all and (max-width: 767px) {
  .lvapp_list.type_list .item {
    display: block;
  }
}
@media all and (min-width: 768px) {
  .lvapp_list.type_list .item {
    align-items: center;
  }
  .lvapp_list.type_list .desc {
    flex-basis: calc(100% - 140px);
    padding-right: 20px;
  }
  .lvapp_list.type_list .lvlist_btnwrap {
    flex-basis: 140px;
    margin-top: 0;
    text-align: right;
  }
}
@media all and (min-width: 1178px) {
  .lvapp_list.type_list .desc {
    font-size: 1rem;
    padding-right: 50px;
  }
  .lvapp_list.type_list .desc h4 {
    margin-bottom: 10px;
    font-size: 1.125rem;
  }
  .lvapp_list.type_list .desc .txt {
    margin-bottom: 10px;
  }
}

.visual_space .love_sub01 {
  background-image: url("../images/love/sub01.jpg");
}

.lv_orgchart {
  margin-top: 45px;
  text-align: center;
}
.lv_orgchart img {
  max-width: 100%;
}
@media all and (min-width: 1178px) {
  .lv_orgchart {
    margin-top: 90px;
  }
}

.lv_mainhd {
  margin-bottom: 35px;
}
.lv_mainhd a {
  display: block;
}
.lv_mainhd img {
  max-width: 100%;
}
@media all and (min-width: 1178px) {
  .lv_mainhd {
    margin-bottom: 73px;
  }
}

.lv_mainlist1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.lv_mainlist1 > li {
  flex: 1 50%;
  margin-bottom: 20px;
}
.lv_mainlist1 .item {
  text-align: center;
  margin: 0 6%;
}
.lv_mainlist1 .item img {
  max-width: 100%;
}
.lv_mainlist1 .item p {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #222;
}
@media all and (min-width: 1178px) {
  .lv_mainlist1 {
    margin-bottom: 30px;
  }
  .lv_mainlist1 > li {
    flex: 1;
  }
  .lv_mainlist1 .item p {
    margin-top: 20px;
    font-size: 1.125rem;
  }
}

.lv_mainlist2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.lv_mainlist2 > li {
  margin-top: 15px;
  flex: 1 50%;
}
.lv_mainlist2 > li a {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border: 1px solid #383f4f;
  background-color: #383f4f;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.lv_mainlist2 > li a div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
.lv_mainlist2 > li a div img {
  width: 39px;
}
.lv_mainlist2 > li a div p {
  margin-top: 8px;
  font-size: 0.75rem;
}
.lv_mainlist2 > li:nth-of-type(even) a {
  background-color: #fff;
  color: #383f4f;
}
@media all and (min-width: 768px) {
  .lv_mainlist2 > li {
    flex: 1 25%;
  }
}
@media all and (min-width: 1178px) {
  .lv_mainlist2 {
    margin-top: 50px;
  }
  .lv_mainlist2 > li a {
    width: 220px;
    height: 220px;
  }
  .lv_mainlist2 > li a div img {
    width: 78px;
  }
  .lv_mainlist2 > li a div p {
    margin-top: 15px;
    font-size: 1.125rem;
  }
}

.ownlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.ownlist > li {
  flex: 1 50%;
  margin-bottom: 30px;
}
.ownlist > li .item {
  width: 120px;
  height: 120px;
  margin: auto;
  background-color: #e7e9ee;
  border-radius: 50%;
}
.ownlist > li .item > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ownlist > li .item .img {
  width: 52px;
  height: 52px;
  margin: 25px auto 10px;
}
.ownlist > li .item .img img {
  width: 100%;
}
.ownlist > li .item p {
  font-size: 12px;
  font-weight: 700;
  color: #232937;
  text-align: center;
}
@media all and (min-width: 425px) {
  .ownlist > li {
    flex-basis: 33.3333333%;
  }
}
@media all and (min-width: 768px) {
  .ownlist > li {
    flex-basis: 25%;
  }
}
@media all and (min-width: 1178px) {
  .ownlist {
    margin-top: 40px;
  }
  .ownlist > li {
    flex-basis: 25%;
  }
  .ownlist > li .item {
    width: 240px;
    height: 240px;
  }
  .ownlist > li .item .img {
    width: 104px;
    height: 104px;
    margin-top: 45px;
  }
  .ownlist > li .item p {
    font-size: 24px;
  }
}