@charset "utf-8";

.main .visual_space:after{
	content: '';
	display: block;
	position: absolute;
	width: 148.5px;
	height: 232px;
	top: 50%;
	left: 50%;
	background: url('../images/main/visual_cross.png') no-repeat;
	background-size: cover;
	transition: 0.3s ease-in-out;
	-webkit-transform: translate(-50%,-77%);
	-ms-transform: translate(-50%,-77%);
	-o-transform: translate(-50%,-77%);
	transform: translate(-50%,-77%);
	z-index: 5;
}
#mainVisual .item{
	width: 100%;
	height: 429px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.main_area01{
	padding-top: 39px 
}
.main_area01 .ment01,
.main_area02 .ment01{
	margin-bottom: 15px
}
.main_area02{
	position: relative;
}
.main_area02 .ment01 > strong{
	font-size: 0.875rem;
	font-weight: 400
}
.main_btnwrap{
	margin-bottom: 16px;
	text-align: center
}
.main_area02 .main_btnwrap{
	margin-bottom: 0;
	padding-bottom: 20px
}
.main_down{
	text-align: center
}
.main_down > li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px
}
.main_down > li:first-of-type{
	margin-left: 0
}
.main_down > li > a{
	display: block;
	font-size: 0.75rem;
	color: #232937
}
.main_midvisual01{
	height: 526px;
/*	margin-top: 20px; */
	background-image: url('../images/main/middle_img_181009.jpg');
	background-position: 62% center;
	background-repeat: no-repeat;
	background-size: cover
}
.main_hallsilder.slick-dotted.slick-slider{
	margin-bottom: 55px
}
.main_hallsilder .item,
.main_hallsilder .item .photoitem{
	position: relative
}
.main_hallsilder .item .photoitem img{
	width: 100%
}
.main_midbg1{
	padding-bottom: 78px;
	background-image: url('../images/main/middle_img02.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover
}
.main_midbg2{
	padding-top: 39px;
	background-image: url('../images/main/middle_img03.jpg');
	background-position: 80% top;
	background-repeat: no-repeat;
	background-size: cover
}
.main_naroinfo{
	text-align: center
}
.mainnaro{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: #b3b5ba
}
.main_naroimg img{
	width: 100%
}
.main_midbg3{
	padding-bottom: 92px;
	background-image: url('../images/main/bottom_textline.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 73px
}
.mainpartic{
	display: table;
	width: 100%;
}
.mainpartic > li{
	display: table-cell;
	position: relative;
	width: 50%;
	vertical-align: middle;
}
.mainpartic > li > a{
	display: block;
	height: 150px;
	position: relative;
	background-image: url('../images/main/participation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.mainpartic > li > a > p{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7px;
	text-align: center;
	z-index: 3
}
.maincsft > div{
	position: absolute;
	width: 50%;
	z-index: 3
}
.maincsft > div > a{
	display: block;
	position: relative;
	height: 100%;
	box-sizing: border-box;
}
.maincsft > div > a > div{
	position: absolute;
	display: inline-block;
	min-width: 50px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.maincsft .fc1{
	top: 0;
	left: 0;
	bottom: 50%;
	background-color: #425f9c
}
.maincsft .fc2{
	top: 0;
	right: 0;
	bottom: 50%;
	background-color: #ff0000
}
.maincsft .fc3{
	top: 50%;
	left: 0;
	bottom: 0;
	background-color: #f2e129
}
.maincsft .fc4{
	top: 50%;
	right: 0;
	bottom: 0;
	background-color: #232937
}
.maincsft .masnsico{
	width: 30px;
	height: 31px;
	margin: 0 auto;
	background-image: url('../images/main/is_mainft.gif');
	background-repeat: no-repeat;
	background-size: 60px auto
}
.maincsft .fc1 .masnsico{
	background-position: 0 0
}
.maincsft .fc2 .masnsico{
	background-position: -30px 0
}
.maincsft .fc3 .masnsico{
	background-position: 0 -31px
}
.maincsft .fc4 .masnsico{
	background-position: -30px -31px
}
.maincsft .masnsft{
	margin-top: 3px;
	color: #fff;
	font-size: 0.75rem;
	text-align: center;
}
.main_area01 .noticewrap{
	margin-bottom: 25px
}
 /* 0910 ¸ÞÀÎ µ¿¿µ»ó °ü·Ã */
.main_videocontainer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	z-index: -1
}
.main_video{
	height: 429px;
}
@media all and (min-width:768px){
	.main_midbg3{
		background-size: contain
	}
	.main_area01 .noticewrap{
		float: left;
		width: 44.31239388794567%;
		margin-bottom: 0
	}
	.mainpartic{
		float: right;
		width: 50.93378607809847%
	}
	.main_video{
		width: 100%;
		height: auto
	}
}
@media all and (min-width:1178px){
	.main_area01{
		padding-top: 57px 
	}
	.main_area01 .ment01{
		margin-bottom: 30px
	}
	.main_area02 .ment01 > strong{
		margin-bottom: 12px;
		font-size: 1.25rem
	}
	.main_btnwrap{
		margin-bottom: 20px
	}
	.main_area02 .main_btnwrap{
		margin-top: 48px;
		padding-bottom: 20px;
		text-align: left
	}
	.main .visual_space{
		margin-bottom: 40px
	}
	.main .visual_space:after{
		width: 297px;
		height: 464px
	}
	#mainVisual .item{
		height: 986px
	}
	.main_down > li{
		margin-left: 14px
	}
	.main_down > li > a{
		font-size: 1rem
	}
	.main_midvisual01{
		height: 470px;
/*		margin-top: 50px;   */
		background-attachment: fixed;
		background-position: center
	}
	.main_hallsilder.slick-dotted.slick-slider{
		width: 1000px;
		margin: 34px auto 160px
	}
	.main_hallsilder .item .photoitem{
		z-index: 1
	}
	.main_hallsilder .item .photoitem:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		background: url('../images/common/slider_bg01.png') bottom repeat-x;
		z-index: 1
	}
	.main_hallsilder .item .onlydesk{
		position: absolute;
		left: 50px;
		bottom: 15px;
		color: #fff;
		z-index: 3
	}
	.main_hallsilder .item .onlydesk h4{
		font-size: 1.5rem;
		color: #fff
	}
	.main_hallsilder .item .onlydesk p{
		font-weight: bold
	}
	.main_hallsilder .item .onlydesk p > b{
		font-size: 1.25rem
	}
	.main_midbg1{
		padding-bottom: 175px
	}
	.main_midbg2{
		padding-top: 69px;
		padding-bottom: 126px;
		background-position: center top;
	}
	.main_naroinfo{
		text-align: left;
		margin-left: 50%;
		padding-left: 108px;
	}
	.mainnaro{
		font-size: 6.75rem;
		color: #d1d3d8;
		line-height: 1.3
	}
	.main_naroimg{
		position: absolute;
		top: 220px;
		right: 50%;
		-webkit-transform: translateX(9.5%);
		-ms-transform: translateX(9.5%);
		-o-transform: translateX(9.5%);
		transform: translateX(9.5%);
		z-index: 3
	}
	.main_naroimg img{
		width: auto
	}
	.main_midbg3{
		padding-bottom: 93px;
		background-size: auto
	}
	.mainpartic > li > a > p{
		bottom: 12px;
		font-size: 1.875rem
	}
	.mainpartic > li > a{
		height: 250px;
	}
	.maincsft .masnsico{
		width: 60px;
		height: 62px;
		background-size: auto
	}
	.maincsft .fc1 .masnsico{
		background-position: 0 0
	}
	.maincsft .fc2 .masnsico{
		background-position: -60px 0
	}
	.maincsft .fc3 .masnsico{
		background-position: 0 -62px
	}
	.maincsft .fc4 .masnsico{
		background-position: -60px -62px
	}
	.maincsft .masnsft{
		margin-top: 6px;
		font-size: 1rem
	}
	.main_video{
		position: absolute;
		width: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5
	}
}
.mainpartic:after,
.maincsft:after{
	content: '';
	display: block;
	float: none;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden
}